[2017-04-30 08:28] m1guelpf opened #1 "Linux version?"
Is there a Linux version available?

[2017-04-30 09:53] m1guelpf commented on #1
Used this command to create a linux version:
[code]

[2017-05-01 00:14] danielravina commented on #1
Hey that's awesome! I will add that to the build script. Funny how you can always expect Linux users to build their software themselves ;)

[2017-05-01 09:33] m1guelpf commented on #1
@danielravina Maybe you could add build instructions to the README... (for all platforms)

[2017-05-02 14:07] danielravina commented on #1
Thanks for mentioning that. I will do that once the Windows version is ready to go. There are some discrepancies between the systems so it takes a little longer. How is it working for you on Linux? which distro are you using? did you notice anything unusual?

[2017-05-02 16:10] m1guelpf commented on #1
@danielravina I am using Ubuntu 16.10.
I have given it a lot of uses, and everything works smoothly, I love it!

[2017-05-07 10:38] m1guelpf commented on #1
@danielravina Why don't you also release a linux version with the windows and mac ones?

[2017-05-07 10:39] m1guelpf opened #2 "Translations"
I'd love to help translating headset to Spanish.
(I open the issue here because it seems that the repo with the source is private...)

[2017-05-09 03:00] danielravina commented on #1
@m1guelpf were you able to get the Icon working on Ubuntu? I've been fighting this for two days now

[2017-05-09 05:52] m1guelpf commented on #1
@danielravina Well, I did that manually. I added a .desktop file in /usr/share/applications to get it to show in the dock.

[2017-05-10 06:15] m1guelpf commented on #1
@danielravina Cool, thank you!

[2017-05-10 06:15] #1 closed

[2017-05-11 03:24] danielravina commented on #2
Thanks for the offer and willingness to help, I truly appreciate at! ❤️
At the moment, I'm not planning on localizing the app (just yet). Will let you know for sure when this becomes a priority!

[2017-05-11 05:56] m1guelpf commented on #2
@danielravina Cool!

[2017-05-15 14:23] sameer-pandit opened #3 "How to use it to behind a proxy."
Seems like a good app, but how is use it behind a proxy.

[2017-05-15 15:25] umpirsky opened #4 "Current queue"
It would be nice if possible to add any song to current queue, to play after current song.

[2017-05-15 15:26] umpirsky opened #5 "Media keys support"
![screenshot from 2017-05-15 17-26-05](https://cloud.githubusercontent.com/assets/208957/26065256/9d4297d2-3993-11e7-961a-ea9ff156df1b.png)

[2017-05-15 15:58] m1guelpf commented on #5
:+1: for this

[2017-05-15 17:05] sameer-pandit opened #6 "The player stops if a video is unavailable."
When a youtube video is unavailable due to country restriction etc.. the app should skip it and move onto next. See below screenshot the player has just hanged.
![1](https://cloud.githubusercontent.com/assets/8393949/26069508/b4d1d928-39be-11e7-8bc6-d9585d8b6ede.png)

[2017-05-15 17:33] danielravina commented on #5
Is this specific to Linux? I'm not a Linux user so I can't tell. There's a listener to the mac media keys here: https://github.com/headsetapp/headset-electron/blob/master/index.js#L70

Perhaps if you can figure out how to integrate with other systems, you can open a PR for that? Currently, we only support `play-pause`, `play-next` and `play-previous`. Thanks!

[2017-05-15 18:39] umpirsky commented on #5
Seems so. For the reference, I was reporting similar issue to https://github.com/nukeop/nuclear/issues/18, maybe it can be useful for someone who want's to apply same logic here.

[2017-05-16 01:59] danielravina commented on #3
Can you be more specific? What's the purpose of the proxy?

[2017-05-16 02:01] danielravina commented on #6
Yeah, this is a known issue. Unfortunately, the embedded player doesn't throw any error or trigger any event when this happens. This needs a more sophisticated way to detect it. Thank you for reporting it. I'll keep the issue open until I get it fixed.

[2017-05-16 02:02] sameer-pandit commented on #3
I am behind a corporate proxy.

[2017-05-16 02:18] danielravina commented on #3
hmmm ok is YouTube being restricted?

[2017-05-16 03:38] tareqmahmud opened #7 "Support for arch Linux"
It'll be great if someone makes aur package for this app.

Thanks.

[2017-05-16 04:04] danielravina commented on #7
Hi! I updated the Readme with instructions on how to build for other environments. It's pretty easy so you can DIY. Let me know how it works for you.

[2017-05-16 04:54] tareqmahmud commented on #7
It works great.
![headset](https://cloud.githubusercontent.com/assets/4035645/26090318/f36adee8-3a25-11e7-8fcb-38418dc6937f.png)

Thanks, man <3

[2017-05-16 04:54] #7 closed

[2017-05-16 06:09] sameer-pandit commented on #3
No YouTube is not restricted but all http traffic goes throw proxy. Even with http_proxy env vars set, it does not work. Does npm proxy needs to be set?

[2017-05-16 07:44] andreisusanu opened #8 "Gnome3: Minimize to tray option"
It would be nice to have the option to close to tray (notification area).

![image](https://cloud.githubusercontent.com/assets/2534555/26094972/960334ea-3a24-11e7-995d-ba6c4179d9d5.png)

[2017-05-16 08:26] khurshid-alam opened #9 "Provide i386 binary"
It would be nice if we could have i386 binaries as well.

[2017-05-16 09:28] ziyaddin opened #10 "ytPlayer: PauseVideo event doesn't handle player icon change"
When user stops the video player, the player icon of the Headset player doesn't change.

Screenshot:

![image](https://cloud.githubusercontent.com/assets/1016523/26099364/8435365c-3a3b-11e7-9be3-d751db7134a1.png)

I think it is related with this part:

![image](https://cloud.githubusercontent.com/assets/1016523/26099647/6cd05d4c-3a3c-11e7-844b-4ce6a079b802.png)

[2017-05-16 13:08] GNOME-IS-LIFE commented on #5
i believe the best way to implement keybaord keys would not be to interfere and create your own key listener, BUT instead to follow the MPRIS standard, which every other music player does. this 100% works with Linux (gnome & kde) and might also with Windows and Mac. as if you implement the MPRIS standard than we can see a notification for the song with play & pause and stop buttons in GNOME Notifi

[2017-05-16 14:50] danielravina commented on #9
Follow the instructions in the readme and you can build it to your environment

[2017-05-16 14:56] danielravina commented on #8
Hi Mr. Robot!
The Mac build works very similar where you click on the `x` and but it doesn't close it, it just hides the windows. Electron has a Tray [icon module](https://github.com/electron/electron/blob/master/docs/api/tray.md). I remember trying to make it work the same in Ubuntu but it didn't work for some reason and due to time restrictions, I decided to release it without it. Please open a

[2017-05-16 15:03] danielravina commented on #3
ok I'm not sure then how to fix your problem. There is no need to for npm proxy though as all the packages are preinstalled with the binary. The app is makes http requests to four domains: reddit.com, github.com, amazonaws.com and googleapis.com. Hope that helps.

[2017-05-16 15:19] danielravina commented on #10
Yes I'm totally aware of that. This is currently a one-way communication. The main window is the master and the player is the slave. Events that are triggered by the player (except `ready`) do not affect the main window. Making it communicate two-way is a bit tricky due to Redux's workflow. I hoped it will be overlooked since users are not _supposed to_ (I know there's no such thing is software 😂)

[2017-05-16 15:22] danielravina commented on #4
Ha! Just released a re-ordering feature for the queue and collections. Check it out. That was a pre-requisite for that ☝️. adding/removing songs is next step.

[2017-05-16 15:25] umpirsky commented on #4
But looks like all songs from search are automatically added to current queue?

[2017-05-16 15:30] danielravina commented on #5
Ok I understand. Problem is that the app is using the _web version_ of the YouTube embedded player. I'm not sure if this can be integrated with MPRIS. On the other hand, if there _is_ some way to pull this off, it will go against YouTube's ToS because by doing that, only the audio will be streamed (please correct me if i'm wrong).

[2017-05-16 15:35] danielravina commented on #4
If you play a song from search, the queue is populated with a list of related songs to what you picked. What  I'll do is add an option for a "Play next" or "Add to queue". in the Queue itself, you'll be able to remove songs individually. does it make sense?

[2017-05-16 15:39] umpirsky commented on #4
@danielravina "Play next" is good, but here is scenario that is most common for me:

1. Search for artist (e.g. Pink Floyd)
1. Click one of top results and play it.
1. While it;s playing add more songs to the queue.

I expect to get enqueued songs played next.

[2017-05-16 15:53] danielravina commented on #4
Cool. That's exactly what the "Play Next" will do. What I want to avoid is clicking on one of the search results and only have one track in the queue if users don't manually add songs. This should be a play it and forget it kind of experience.

[2017-05-16 15:59] umpirsky commented on #4
So, if I do:

1. Play Next - Song A.
1. Play Next - Song B.
1. Play Next - Song C.

Play order will be C, B, A, right?

[2017-05-16 16:00] danielravina commented on #4
Looks right to me.

[2017-05-16 16:09] umpirsky commented on #4
OK, that would work. :)

[2017-05-16 16:38] ziyaddin opened #11 "Broken App Icon"
After app installation, app icon is set to Electron's default icon instead of Headset's.

![image](https://cloud.githubusercontent.com/assets/1016523/26117429/99d0df98-3a77-11e7-924a-0a7dadddc7f8.png)

Possible solution can be:
- providing manual .desktop entry for application

OR

- setting proper icon during installation

[2017-05-16 16:55] danielravina commented on #11
This is a known issue with electron-packager in linux. https://github.com/headsetapp/headset-electron/issues/1 has the details. @m1guelpf are you able to share the `.desktop` file you created? I'll add it to the readme. Thanks

[2017-05-16 17:15] mibofra opened #12 "License?"
There should be a license with the project, like a gplv3+ for example.

[2017-05-16 18:11] m1guelpf commented on #11
My `.desktop` file:
[code]
You need to point the icon & the exec to the extracted folder. @danielravina Where is the .deb extracted to?

[2017-05-16 18:13] m1guelpf commented on #12
@mibofra Well, as the app itself is closed source, I believe there's no need for that...

[2017-05-16 18:16] m1guelpf opened #13 "Open-sourcing the app?"
Hi!
Are there any plans on open-sourcing the app code?
I mean, with electron, you're just loading a private github repo, that contains the player & UI. Are there any plans on open-sourcing that?

[2017-05-16 19:26] andreisusanu commented on #8
Hi Daniel!

Please check out this resource: https://github.com/hokein/electron-sample-apps/tree/master/tray

I just tested and it works great on my Ubuntu Gnome OS.

It would be nice to have tray support for Headset.
Thanks!

[2017-05-17 02:25] danielravina commented on #11
Thanks @m1guelpf! the .deb is extracted to `usr/lib/Headset`

[2017-05-17 05:04] danielravina commented on #11
I update the readme with instructions. Thanks for reporting and thanks @m1guelpf for providing the .desktop file

[2017-05-17 05:04] #11 closed

[2017-05-17 05:20] danielravina commented on #13
The short answer is no.
The long answer is that I treat this app as a business, and I plan to monetize it at some point in the future. I can't think of a way this could happen if I open source it as anyone will be able to bypass anything if they want. I decided to open source the wrappers so users could build it to any OS and because I can host the binaries on github easily. Sorry if this is not t

[2017-05-17 05:25] danielravina commented on #8
just a question, what options would you like to see on the tray?

[2017-05-17 05:48] danielravina commented on #12
@mibofra you are right. I should add a license. Just need to pick one. @m1guelpf people can still contribute to this repo if they want.

[2017-05-17 05:54] danielravina commented on #12
Added MIT (short and simple). Thanks!

[2017-05-17 05:54] #12 closed

[2017-05-17 05:56] m1guelpf commented on #13
@danielravina I totally understand, I recently did something like that with one of my projects :smile:

[2017-05-17 05:56] #13 closed

[2017-05-17 05:57] m1guelpf commented on #8
@danielravina Would be cool to have the song title, and media control buttons

[2017-05-17 06:44] ziyaddin commented on #11
Thanks @danielravina and @m1guelpf

[2017-05-17 07:11] sikender opened #14 "Description of DEB file shows Native Player for OSX"

[2017-05-17 07:33] joseluisq opened #15 "RPM support"
Currently, it's available the Debian package only ([Headset_1.5.2_amd64.deb](https://github.com/headsetapp/headset-electron/releases)) for GNU/Linux systems.
It would be great if you can offer support for RHEL-related systems such as Fedora x86_64.

[2017-05-17 09:47] GNOME-IS-LIFE commented on #5
wait a second. Adding MPRIS support won't magically only stream audio xD MPRIS is just giving of the play pause, forward, rewinds & album art through a specific standard widely adopted. And you stated, you are using the web version of YouTube, why not make the MPRIS support link the button functions to the button in your ui. you know, the app? and you can export the album art from your app onto MP

[2017-05-17 09:47] GNOME-IS-LIFE commented on #5
and you not try to use youtube-dl? thats what Lollypop uses

[2017-05-17 10:01] Cross03 opened #16 "Cant run the app on the arch Linux x64"
Hey i just build the app from the source. But when trying to execute the binary file i got error of missing module
![selection_094](https://cloud.githubusercontent.com/assets/16729502/26148889/62ca91d2-3b22-11e7-9494-71025a609823.png)

But i'm sure, i have the electron-default-window installed

![selection_095](https://cloud.githubusercontent.com/assets/16729502/26148915/7c05e37c-3b22-11e7-95dc-17

[2017-05-17 10:14] chin8628 opened #17 "Problem with play/pause shortcut on window 10"
This error was raised If use keyboard shortcut to play/pause on window 10. But I can play/pause via button on program normally.

![screenshot 15](https://cloud.githubusercontent.com/assets/2943187/26149237/befb1eb2-3b23-11e7-9e02-d2efe727e930.png)

[2017-05-17 14:37] danielravina commented on #15
Hi @joseluisq, Yes we _officially_ support ubuntu due to lack of time on my end, I didn't release for other distros. you can follow the readme to build it for RHEL. I should change the website to not say "Linux" as this is misleading.

[2017-05-17 14:48] joseluisq commented on #15
@danielravina

Yep, because I use Fedora and I didn't find the `.rpm` to try Headset :smile:

Here an idea for website fix. https://atom.io/
![image](https://cloud.githubusercontent.com/assets/1700322/26159906/1e13fe0e-3b20-11e7-96bf-25e3f20197c6.png)

I hope in the future you can support it.
Anyway, I will try to build from the source.

[2017-05-17 14:54] danielravina commented on #16
What's your node version?

[2017-05-17 14:57] danielravina commented on #14
😳
will fix that. sorry!

[2017-05-17 14:59] sikender commented on #14
😁

[2017-05-17 15:00] sikender commented on #14
Great work btw. Love your app. 👌

[2017-05-17 15:20] danielravina commented on #14
Fixed in https://github.com/headsetapp/headset-electron/releases/tag/v1.5.3-linux future users won't see it. Thanks!

[2017-05-17 15:20] #14 closed

[2017-05-18 19:37] dlasalle commented on #15
If you're interested, you can generate packages for Arch, Fedora, Centos, and Ubuntu via BytePackager (https://bytepackager.com) with the following settings:

Build Instructions
[code]

Install Instructions
[code]

And set the dependencies to `nodejs` and `npm` for each distribution (and additionally `nodejs-legacy` for Ubuntu).

[2017-05-19 04:40] joseluisq commented on #15
Cool thanks :+1

[2017-05-19 09:26] Uriei opened #18 "App needs volume control"
Simply as that, if it has it, I can't find it.

[2017-05-19 10:24] kalarro commented on #3
Same issue. Youtube is not blocked, but can't install this app because of the proxy.
Other apps have a proxy configuration option where you enter your proxy credentials. No idea what they do on a technical level tho.

[2017-05-19 18:12] sameer-pandit commented on #3
@danielravina is this issue github.com/electron#2231 helpfull ?

[2017-05-19 18:23] danielravina commented on #18
You are right. It will be in the next release!

[2017-05-19 22:48] danielravina commented on #18
You are right. wIll be there in the next release.

[2017-05-20 04:32] omata opened #19 "Please add chromecast support"
Terrific job with headset,

So lets it go further with [Chromecast](https://www.google.com/intl/en_us/chromecast/) support.

Regards,

[2017-05-20 15:22] hoshi411 commented on #16
I was a bit more successful by adding  `--electron-version=1.6.8` to the end of this command , as in:

`sudo electron-packager .   --ignore=node_modules/electron-prebuilt   --ignore=node_modules/electron-packager   --out build/   --overwrite   --platform=linux   --arch=x64 --electron-version=1.6.8
`
Also , obvious things like git cloning the project were included in the readme file while more impo

[2017-05-20 16:24] danielravina commented on #16
@hoshi411

The installer depends on your system. As mentioned in step 4, for Debian systems, we use `electron-installer-debian` as part of the automated build. Did not add instructions for other systems since I havn't tried it myself. Seems like @dlasalle made it in https://github.com/headsetapp/headset-electron/issues/15#issuecomment-302519087 If it works for you, I can add that to the instructio

[2017-05-24 09:23] matejmosko opened #20 "Please add kodi support"
Hi, your app is great. Would be even greater if it was able to enqueue video on kodi instead of playing locally.

[2017-05-25 08:24] CKGrafico opened #21 "Mobile App?"
Are you planning to port this to Cordova or something?
Could I help?

[2017-05-25 12:01] danielravina commented on #16
@Cross03 can I close this issue?

[2017-05-25 12:15] danielravina commented on #21
The app (private repo) is coupled with electron because of the integration between the two windows. It is relying on `ipcRenderer` to be available so it could distribute events to the embedded player. Cordova wouldn't support it so raw porting wouldn't be an option. The embedded player will have to be somehow integrated into the UI. From past experience, embedded players didn't work very well in i

[2017-05-25 19:41] ishubhamsingh commented on #15
The method described by @dlasalle works like charm,using the app on my Arch.Thanks @joseluisq  for this awesome app.

[2017-05-25 19:43] pavanjadhaw commented on #15
Create Headset.desktop file in /usr/local/applications

`**[pavan@spiritualcraft ~]$ cat /usr/share/applications/Headset.desktop**
Exec=/usr/bin/headset -- %u
Icon=/usr/lib/Headset/resources/app/icon.png
Terminal=false
StartupWMClass=headset
Type=Application
Categories=Network`

[2017-05-26 00:43] danielravina commented on #18
Added a volume bar!

[2017-05-26 00:43] #18 closed

[2017-05-26 06:30] m1guelpf commented on #15
@pavanjadhaw Already said in #11

[2017-05-27 22:29] adiict0 opened #22 "Javascript error ocurred"
Hi guys, first of all great app. Second.. im having some issues since the second day i use this app.
I think a made a mistake trying to close the youtube window. I dont remember the first error but it was a message saying that i cant close that window, after that the player stop working, i try to close and open again but now the all app was white, working but full white and i cant do anything, try

[2017-05-27 23:52] danielravina commented on #22
Hi @adiict0, I'm sorry you are experiencing this issue. The small window is "protected" from closing but it's not 100% safe guarded so there might be a race condition of some kind. I will look into it. Silly question, did you uninstall the app before reinstalling it? If you completely remove all the files, the app will not remember the state you were in so technically you shouldn't see this error

[2017-05-28 00:06] adiict0 commented on #22
Hi Daniel, thanks for the reply. Yes i remove every single file.
Now i shut down the computer and start it again and now its working well. I
dont know why but its working, if i have some issue again ill be texting
you guys, thanks again and keep ip up with this!

2017-05-27 20:52 GMT-03:00 Daniel Ravina <notifications@github.com>:

[2017-05-28 00:29] danielravina commented on #22
Cool! Will close the issue then. Will look into it and see if I can reproduce. Thanks for signing up for GitHub just to report it!

[2017-05-28 00:29] #22 closed

[2017-05-28 11:30] truscellino opened #23 "Headset processes still active after closing the App (Ubuntu)"
Hi,
I am using Headset on Elementary OS Loki (based on Ubuntu 16.04.2). Everything up-to-date as of 28th May 2017.
After closing the app, the Headset-electron process is still there and using memory, and if I re-open and re-close, there are 2 processes etc. etc.
So there must be something wrong with process management...
Thanks, Marc

[2017-05-28 21:38] danielravina commented on #23
Hi Thanks for reporting. Seems like this is a bug in Chromium. I couldn't find a way to resolve this. The workaround is killing the process manually when the app quits. I was able to reproduce this in Windows as well but not in Mac. Released a new build for both. Do you mind testing this out? https://github.com/headsetapp/headset-electron/releases/download/v1.5.4-deb/Headset_1.5.4_amd64.deb

[2017-05-29 00:23] truscellino commented on #23
Hi - that was a quick response!
I have downloaded and tried the 1.5.4 and the workaround works fine for me. All Headset processes effectively disappear when closing the app.
Thank you.

[2017-05-29 00:28] danielravina commented on #23
Awesome! I actually started investigating this yesterday after https://github.com/headsetapp/headset-electron/issues/22. The error occurred because of the orphaned processes.

[2017-05-29 00:28] #23 closed

[2017-05-29 13:30] Abdelghafour01 opened #24 "The app is not controllable by Media buttons, on Ubuntu"

[2017-05-29 13:44] m1guelpf commented on #24
Duplicate https://github.com/headsetapp/headset-electron/issues/5

[2017-05-29 17:19] #21 closed

[2017-05-30 14:53] Warlord77 opened #25 "add google account support using oauth"

[2017-05-30 19:16] m1guelpf opened #26 "[Request] Currently playing API"
Hi! I have a dashboard in my TV, that gets my currently playing song via LastFM and displays cover, title and album. It would be awesome if I could replace it with a Headset one, but it would need o have an API, where I can grab song details, or better, a webhook like triggers every time the song changes. Is this possible?

[2017-05-30 19:24] m1guelpf commented on #26
If you want, I can setup and host a backend for this, that would work this way:
1- Headset has master keys to add new headset users to the application database, and the application returns an API key, that you can give the user if you want (or keep it hidden and make the users request it).
(Another option would be to store that token on the Headset database...)
2- After the code that sends the pus

[2017-05-31 12:52] merriander opened #27 "Removing Tracks From Queues and Collections"
I can see how to remove a track from a collection (selecting 'add to collection' and then 'unticking'), I cannot see how to remove one that is in a queue. Dragging and dropping to change the track order is possible, I would like to pick up a track I didn't want to hear and swipe it away off the queue. Possibly the same effect could be applied to tracks in a collection, the current method seems a l

[2017-05-31 15:23] danielravina commented on #26
Im planning on adding a last fm integration. You'll be able to sign in with the app and have the same effect on your TV. Would that work for you?

[2017-05-31 15:30] danielravina commented on #25
That's on the roadmap. Problem is that when users sign in with google, they will expect to see all of their data from YouTube. That will take longer to build. In addition, there are a lot of rules when it comes to authorized data from YouTube so will need to make sure the app is compliant.

[2017-05-31 15:34] danielravina commented on #27
There is an open issue regarding the queue https://github.com/headsetapp/headset-electron/issues/4.
Interesting thoughts on the collections as well. I will add a "remove from collection" option as well. Thanks!

[2017-05-31 16:37] m1guelpf commented on #26
@danielravina The LastFM integration would totally solve the problem!
Do you have an estimated release time? Thank you!

[2017-06-01 08:29] PrzemekSkw commented on #16
Hi, app works great on arch, just download deb package and convert it with command (first install archalien):
_archalien Headset-1.5.4-1.deb_
then install new package:
_sudo pacman -U headset-1.5.4-1.pkg.tar.gz_

[2017-06-01 15:44] danielravina commented on #26
Will probably be sometime this month

[2017-06-01 19:54] kaustubhhiware opened #28 "Correct path for ubuntu desktop file"
In the missing icons for ubuntu section, the path for desktop files is actually `/usr/share/applications` or `~/.local/share/applications` as per my system [Ubuntu 16.04], and not `/usr/applications.` Please verify the correct path.

[2017-06-02 06:36] m1guelpf commented on #28
Related: https://github.com/headsetapp/headset-electron/issues/11

[2017-06-02 06:39] kaustubhhiware commented on #28
Also refer to @m1guelpf 's comment on #1 [here](https://github.com/headsetapp/headset-electron/issues/1#issuecomment-300068129).

[2017-06-02 07:40] bil-elmoussaoui commented on #15
@danielravina just use travis & make it build all the packages you want for you ;)

[2017-06-02 17:18] Parth-Vader opened #29 "Adding a repeat and shuffle button"
It would be nice to have both the buttons.

[2017-06-03 06:14] danielravina commented on #29
It's right here man
![screen_shot_2017-06-02_at_11_13_10_pm](https://cloud.githubusercontent.com/assets/3150871/26751216/2af37124-47e9-11e7-8d80-c1d87a604107.png)

[2017-06-03 06:18] danielravina commented on #28
You are right! The path is wrong. must be a typo. I'll fix it. Thank you

[2017-06-03 06:19] Parth-Vader commented on #29
@danielravina Oops. Didn't see it there. Usually it with the play pause button.
Closing.

[2017-06-03 06:19] #29 closed

[2017-06-03 06:32] danielravina commented on #19
Thanks @omata! Many people have been requesting this. I've never had a chromecast so I should spend time in figuring out how it's going to work (and of course, go buy one)

[2017-06-03 12:30] MrHuds0n opened #30 "App has no icon on elementary OS."
Upon installing, Headset is using the default Electron app icon.

[2017-06-03 15:16] kaustubhhiware commented on #28
Closing the issue since this is fixed.

[2017-06-03 15:16] #28 closed

[2017-06-03 15:22] kaustubhhiware commented on #30
Hi @MrHuds0n !
I think you'll have to set the icon yourself. This can be achieved by editing the desktop file as described in the REAMDE [here](https://github.com/headsetapp/headset-electron#missing-icon-in-ubuntu).

[2017-06-03 18:35] MrHuds0n commented on #30
Yeah, but I was installing it through the .deb file. A production-ready app should have its own icon.

[2017-06-08 12:20] kaustubhhiware commented on #3
Hey @sameer-pandit . Does entering the following commands in your terminal fix the problem ?
[code]

[2017-06-08 12:34] kaustubhhiware opened #31 "Disable annotations in the player"
When I clicked on a random suggestion in the Headset-player, headset opens up another window playing that video, and not through the default console.
Additionally, clicking on another annotation in the new window creates an altogether new window. [At this point, there are 4 headset windows, 2 default ,2 extra]
Is it possible to disable annotations in the video being played, or better yet, play tha

[2017-06-09 12:14] luispabon commented on #5
MPRIS support would be great, should automagically integrate headset into the notification area as well as media buttons support :+1:

[2017-06-10 06:00] danielravina commented on #31
One of the api requirements is

I can't control what goes beyond or during the click. The best I can do is not advertise it as a feature.

[2017-06-10 06:02] kaustubhhiware commented on #31
Closing the issue to avoid API violations clashes.

[2017-06-10 06:02] #31 closed

[2017-06-12 06:18] danielravina commented on #6
The issue is fixed and is now live. care to try it out?

[2017-06-14 02:31] #6 closed

[2017-06-15 12:26] kaustubhhiware opened #32 "Deleting likes collection leads to empty page"
I accidentally deleted the likes collection by clicking on delete button on the likes tab. Due to this, I get an empty tab in likes now, and I'm not able to like any video now. Sign out / log out options are not available either.
The only resolution seemed to be complete removal, and then installation via the deb. [I had originally installed via the deb]

[2017-06-15 14:11] danielravina commented on #32
So sorry about it, this is a bug, the likes are not supposed to be removed. I just pushed a fix that prevents you from deleting it.

[2017-06-15 15:32] Amolith opened #33 "How do I open the app?"
This is an incredibly stupid question, I know. However, I've been using Ubuntu for about a week. I switched from ChromeOS so this is all a HUGE change and I have no idea what I'm doing. I installed the app using dpkg -i then apt-get -f. I just can't figure out how to open it.

[2017-06-15 18:32] m1guelpf commented on #33
If you did that, you should be able tu run 'headset' to open it, or you can search for it.

[2017-06-18 09:12] yaronsumel opened #34 "windows 10 crash"
![image](https://user-images.githubusercontent.com/4710984/27259608-5e9e0132-541f-11e7-9b35-e49b2fb0a21f.png)

[2017-06-18 17:13] danielravina commented on #34
Thanks Yaron. Do you have steps to reproduce?

[2017-06-18 17:18] yaronsumel commented on #34
basically any click on the `play` button does not matter which playlist.

[2017-06-18 17:32] #32 closed

[2017-06-18 18:57] danielravina commented on #34
that's really odd. is the mini player window open? If not, try to restart your machine and re-open the app. (sorry, typical IT response)

[2017-06-19 16:01] hdmi commented on #3
Headset is using electron which is based in chromium and chromium does use the proxy configuration of internet explorer. So if you are using windows just type in the start menu "proxy", open the preference and add your corporate proxy to it.

Reopen headset and now it should go through the proxy.

For other operate systems the proxy should be configured with npm.

[2017-06-22 06:33] heldderarbeit opened #35 "default cogwheel icon in notifications for new track on linux"
It would be nicer to show the application icon or the icon from the new track playing instead the default application launch icon from the desktop environment. Is this problem related to the 'Missing icon in Ubuntu' issue from the section with the known issues? Maybe there's a similar workaround.

![untitled](https://user-images.githubusercontent.com/4840355/27420295-83020b64-5725-11e7-8afa-1e07d8

[2017-06-22 06:42] danielravina commented on #26
lastfm scrobbling/now playing is ready. You can connect by clicking on the user icon on the top right! Let me know how it works for you!

[2017-06-22 23:36] R3J3CT3D opened #36 "Music loop"
Hello, I encountered a problem.

When I play a music, it starts for about 1-2 seconds and returns to the beginning.
I tried on Linux and on MacOS, same result.

[2017-06-23 01:07] danielravina commented on #36
This was reported and fixed couple of days ago. if you change this line https://github.com/headsetapp/headset-electron/blob/master/index.js#L89 to `!isDev` you will get the developer console. can you see if you get any errors?
in mac, the file is located in `/Applications/Headset.app/Contents/Resources/app/index.js`

Thanks

[2017-06-23 01:23] R3J3CT3D commented on #36
Thank you for this quick return!
I do 't have access to my mac, can I change this line from linux?

[2017-06-23 01:50] danielravina commented on #36
yes. in linux, the file is at `/usr/lib/Headset/resources/app/`

[2017-06-23 01:56] R3J3CT3D commented on #36
Oh .. The problem is gone ..
I don't know why but the music don't come back at the beginning, with or without the developer mode

[2017-06-23 02:00] danielravina commented on #36
ok cool. I guess you didn't have the latest version (with the fix). the update happens when you open the app.

[2017-06-23 02:00] #36 closed

[2017-06-26 07:25] MartinMuzatko opened #37 "Share youtube link"
Hello!
Right now, if I want to share a video with someone else I need to open the video player and rightclick the video - copy share Url.

However, It would be great as an addition to the actions menu (...) to share the video. I guess you could use [clipboardjs](https://clipboardjs.com/) for that.

[2017-06-28 07:50] nhtua opened #38 "Support log-in in multi machines."
I use Headset on both my laptop and a company PC. When I login my account on the company PC then Laptop's Headset will be logged out. Can Headset login my accounts in multi machines?

[2017-06-28 08:36] danielravina commented on #33
@Amolith is this still an issue?

[2017-06-29 03:10] danielravina commented on #38
I actually have the same issue and I understand you completely! I was tolerating this and pushing it off until someone will request that. I guess that time has come and now it's on my todo list :) thanks for the request!

[2017-06-29 03:12] danielravina commented on #37
I actually try to implement it in the very first version of headset and had some issues with clipboardjs. I can't remember now what it was, but I will give this another shot. This is a very useful feature. Thanks for your feedback!

[2017-06-29 03:13] danielravina commented on #34
@yaronsumel Are you still experiencing the issue? wondering if this issue can be closed. I wasn't able to reproduce this on Windows 10.

[2017-06-29 03:14] danielravina commented on #26
@m1guelpf can I close the issue?

[2017-06-29 03:15] danielravina commented on #17
@chin8628 wasn't able to reproduce on Windows 10. are you still experiencing this issue?

[2017-07-01 06:26] danielravina commented on #4
Hi @umpirsky your feature request is now live!

![jun-30-2017 23-25-31](https://user-images.githubusercontent.com/3150871/27759685-7fc2d178-5deb-11e7-9931-19b8eaaa73ef.gif)

[2017-07-01 06:28] danielravina commented on #27
Hi @merriander. Removing tracks from queue is now live! https://github.com/headsetapp/headset-electron/issues/4#issuecomment-312414145

[2017-07-01 09:53] umpirsky commented on #4
@danielravina Neat, thanks! `v1.5.4-deb`? I'll try it out soon!

[2017-07-01 09:53] #4 closed

[2017-07-02 07:03] #26 closed

[2017-07-03 17:38] danielravina commented on #3
I just found out you can use a proxy switch directly from electron https://github.com/electron/electron/blob/master/docs/api/chrome-command-line-switches.md#--proxy-serveraddressport
if you add this line in `index.js` your proxy should work.

[code]

[2017-07-14 03:51] miniscruff opened #39 "Saving window position between app runs"
I have a very specific window position setup between my work ( unity / visual studio ), chrome and discord. Headset fits perfectly in this nice little spot, unfortunately its hard to fit it in that one pixel position and having to do it every morning is tedious. It is not a very big problem but if it is easy to add I know it would help quite a bit personally.

If you need repro steps:
1. Open the

[2017-07-14 04:02] danielravina commented on #39
No plans to add this feature but I can show you how you can set it up on you machine if you want!

[2017-07-14 04:04] miniscruff commented on #39
Oh, sure yea i guess that should work.

[2017-07-14 04:12] miniscruff commented on #39
Oh I am on windows, I have done some node programming although I mainly do c# and python. I do have two monitors and would like it placed on the second one if that matters.

[2017-07-14 04:20] danielravina commented on #39
1 .Navigate to the folder where the app is installed: (using the command line)
`C:\Users/[USER]\AppData\Local\Headset\app-1.5.4\resources\app`
2. run `npm install --save electron-window-state`
3. Open the app `index.js` and change
[code]
That should fix your problem. I might add that to the next release.

[2017-07-14 04:34] miniscruff commented on #39
Awesome! Worked like a charm, thank you so much. If it would help I can add the change to a pull request.

[2017-07-14 04:36] danielravina commented on #39
Sure!

[2017-07-14 04:38] miniscruff commented on #39
Alright, will do that now.

[2017-07-14 05:23] #39 closed

[2017-07-14 13:26] lardissone opened #41 "Allow search YouTube users and playlists"
It would be great to add users/playlists as collections. But at the moment I think there's no way.

[2017-07-15 11:12] barboko commented on #17
I have the same issue

[2017-07-15 11:14] barboko commented on #17
It occurs when There's no music played at all (even if Headset is turned off)
If I wanna use those buttons on iTunes, Headset will be the dominant and shows this message, without allowing me to use in in iTunes.

*iTunes is an example of an app that uses those buttons and I can't use it because of Headset.*

[2017-07-15 16:02] danielravina commented on #17
Ok I see. I'll release a new Windows build today with a patch for this error.

[2017-07-15 16:57] danielravina commented on #17
Hey there's a new build with a fix - https://github.com/headsetapp/headset-electron/releases/download/v1.5.5-win/HeadsetSetup.exe

Do you mind testing it out? Thanks!!

[2017-07-19 19:01] danielravina commented on #41
Great suggestion. I'll investigate how this could be integrated with the API

[2017-07-19 19:33] m1guelpf opened #43 "Headset APT repository"
**Edit**: See [@fcastilloec's comment below](https://github.com/headsetapp/headset-electron/issues/43#issuecomment-320054442).

<details>
<summary>Original Post</summary>
Hi!
I've created an apt repository for Headset.

It works this way:

1. Linux user add the repository running `curl -s https://packagecloud.io/install/repositories/headsetapp/headset/script.deb.sh | sudo bash`
2. Linux user insta

[2017-07-19 19:56] koenigsreiter opened #44 "Problems with Arch Linux"
Hello!

I've tried to install the apps based on the install instructions in the readme and everything worked fine (I omited the last step). I can even start the app, but as soon as I try to play music the Interface freezes completely. The music is still  playing for a few seconds, but there is no interaction with the program possible anymore.
Is there some kind of log where I can find some info wh

[2017-07-21 05:03] danielravina commented on #43
amazing. Thank you so much for doing it! I will update instructions on the website. I don't mind if you give me upload access.

[2017-07-21 05:06] danielravina commented on #44
you can turn on developer tools by changing this line https://github.com/headsetapp/headset-electron/blob/master-linux/index.js#L98 to `if(!isDev)` Other than that there is no other log. If you see any errors, please post them here. Thanks!

[2017-07-25 06:12] danielravina commented on #41
Actually, it's quite simple. Coming soon!
![screen shot 2017-07-24 at 11 11 29 pm](https://user-images.githubusercontent.com/3150871/28558175-8ae1d27e-70c5-11e7-8d53-2bd40c2ac5b8.png)

[2017-07-25 13:35] lardissone commented on #41
@danielravina awesome! And also is possible to see that user playlists? For example see this account: https://www.youtube.com/channel/UCEkBEbI7ME92qqjMjqvuIQA

This user has several playlists sorting videos by genre, like: Space Music, Psychedelic Trance, etc.

It would be great to be able to follow just a playlist.

[2017-07-25 16:39] koenigsreiter commented on #44
Unfortunately it doesn't show anything so I guess it's just because there is something wrong with my PC :/
But thanks for your help!

[2017-07-27 08:57] fcastilloec commented on #5
I had high hopes that this was going to be a feature of Headset but I was disappointed. I've been looking everywhere for a Youtube player that can be integrated to the media keys of my OS. I wish I know programming so I could contribute with this

[2017-07-27 09:26] sicu opened #45 "Dark theme"
Would be great to have a choice between a light and dark themed player.
Very happy with the player, great work! :D #

[2017-07-27 18:50] Tusharchoudhary commented on #5
much wanted!

[2017-07-27 19:48] danielravina commented on #5
Ok guys I'll make this my highest priority to resolve this! Windows and Mac already support media keys and Linux should get some love as well. Been really busy lately :)

[2017-07-27 19:51] fcastilloec opened #46 "Headset Linux desktop file doesn't contain keywords"
I think it's a good idea to include keywords in the .desktop file so users can easily find the application. Currently, on Ubuntu, you have to type Headset, with the proper case (H capital, followed by lower) in order to find the app.
If the 'Headset.desktop' file could include:

Keywords=headset;music;player

The users can type headset without the first letter being capital, and also it will show

[2017-07-27 19:56] fcastilloec commented on #43
I'm not sure who's building the linux .deb packages for this new repo. Could you guys check issue #46 which is very easy to solve when creating the package.

[2017-07-27 19:57] danielravina commented on #46
I like this suggestion. It will be great if the repo will have a .desktop file in the root folder so users can use instead of copying from the readme. Do you mind opening a PR against the master-linux branch?

[2017-07-27 20:02] fcastilloec commented on #46
Sure, I can create the PR. I'll do it over the weekend.

[2017-07-28 07:25] m1guelpf commented on #43
👍 for mirroring on launchpad

[2017-07-28 19:46] fcastilloec commented on #35
@heldderarbeit I can't reproduce this at all. The notification in Ubuntu (16.04) is showing the icon for the current song. Headset app itself has an icon shown properly too.
What version of Headset are you using? what version of Ubuntu are you using? And how did you install Headset on your system? (compiled yourself, provided .deb package, etc)

[2017-07-29 08:28] heldderarbeit commented on #35
I tried it this morning again with version 1.5.4 (deb file from the website) and this issue was fixed in the meantime! the youtube preview images are now embedded correctly in the notifications.

Here is my system information for reference:

[code]

[2017-07-29 19:25] fcastilloec commented on #35
I guess @danielravina can close this issue too

[2017-07-29 20:18] danielravina commented on #35
Thanks @heldderarbeit and @fcastilloec!

[2017-07-29 20:18] #35 closed

[2017-07-29 23:00] roadrunner commented on #2
if you plan so, i can help with the Turkish translation as well..

[2017-07-29 23:48] danielravina commented on #46
fixed in https://github.com/headsetapp/headset-electron/pull/49

[2017-07-29 23:48] #46 closed

[2017-07-29 23:51] danielravina commented on #17
Closing due to lack of activity. I confirm that it works and fixed in https://github.com/headsetapp/headset-electron/pull/42/files

[2017-07-29 23:51] #17 closed

[2017-07-29 23:53] danielravina commented on #30
Fixed in https://github.com/headsetapp/headset-electron/pull/49. will create a release soon

[2017-07-29 23:53] #30 closed

[2017-07-29 23:55] danielravina commented on #16
Thanks @PrzemekSkw I think this can be closed if your instructions.

[2017-07-29 23:55] #16 closed

[2017-07-29 23:58] #24 closed

[2017-07-30 00:05] danielravina commented on #15
@bil-elmoussaoui will it be hard to setup?

[2017-07-30 00:11] bil-elmoussaoui commented on #15
@danielravina Not at all, Ubuntu (used by Travis) has great support for nodejs and npm, as you can install them directly from the ubuntu repository without having any issues to configure them. The rest can be done using electron-builder npm package with can build your application for a lot of packages formats on Linux like : .deb (Debian), .RPM, .pacman .appImages, .snap
I can help here if you jus

[2017-07-30 00:15] danielravina commented on #15
That would be awesome! much appreciated. I'm going to do some changes with the branches. currently it's `master` (mac), `master-linux` and `master-windows`. I'll merge them all into master and create sub-directories for the OS. It will be a lot easier to manage, I think

[2017-07-30 00:46] bil-elmoussaoui commented on #8
@danielravina @m1guelpf Sorry to interrupt here but if you really wish to support GNOME and all the other linux desktops is by just supporting MPRIS which can then show the songs directly from the notification center on GNOME, and what's great about it is when you click on that if i say "music notification" the application will be maximized. So please do that instead of using a tray icon on Linux.

[2017-07-30 01:27] #27 closed

[2017-07-30 05:01] PrzemekSkw commented on #16
@danielravina hi, headset is now in AUR repository :)

[2017-07-31 00:09] fcastilloec commented on #5
So after reading a lot on `globalShortcut` it seems that there's no easy fix for this. The bug goes all the way to electron and not Headset. Any other music app using electron has the exact same problem.
The problem is that electron won't bind the shortcuts if these are being used by another app or the OS. And because the OS has bound the media buttons, electron won't bind them to its app. Instead

[2017-07-31 00:14] danielravina commented on #41
The feature is now live (only uploads though). I will add the channel-playlists option in the next iteration!

[2017-07-31 00:17] danielravina commented on #5
I'm good with that workaround. Thanks @fcastilloec!

[2017-07-31 00:24] danielravina commented on #44
=\ sorry to hear that. I'll close it off for now. If you try it on a new PC and you still have the same issue, feel free to re-open or create a new issue.

[2017-07-31 00:24] #44 closed

[2017-07-31 04:32] khurshid-alam commented on #9
@danielravina
Why was this closed? I couldn't build on my machine. It was showing many errors. If it requires only providing` --arch= ia32` why don't you compile on your machine and upload it to the website?

[2017-07-31 04:49] danielravina commented on #9
sorry, I wasn't aware you are stil having errors. my last comment was 2.5 months ago, i closed it due to lack of activity on this issue. planning on building it for multiple environments using travis.

[2017-07-31 13:11] lardissone commented on #41
Awesome! Loving it.

[2017-07-31 21:16] MrHuds0n commented on #30
Thank you!

[2017-08-03 00:21] fcastilloec commented on #43
After looking at Launchpad, it seems that electron apps won't work well there. Mainly because you can't fetch all of the electron modules needed while creating the package.

I was reading about PPA and repositories and came across this: [Publish your repository in 2 minutes](https://askubuntu.com/a/493577/6211). The answer was posted on 2014 but edited on April 2017, so it might still work. I thin

[2017-08-03 08:37] m1guelpf commented on #43
@fcastilloec Maybe we could use the guide to host it in GitHub Pages?

[2017-08-03 08:46] fcastilloec commented on #43
@m1guelpf I've created a branch called `repo` on my fork. It's almost working but I'm having trouble with the signatures on the Release file. The repository is on the `deb-packages` folder.
Feel free to test it on your own fork using your own GPG key.

Once this is working, the repository could even be hosted on the headset.co website itself. Nonetheless, @danielravina will have to sign the packag

[2017-08-03 08:49] m1guelpf commented on #43
@fcastilloec Maybe we could automate that with Travis? About your fork, this days I can help much because I don't have access to a computer, but I'll try to take a look :smile:

[2017-08-03 18:37] fcastilloec commented on #43
@m1guelpf I'm not familiar with Travis but I just gave it access to my repo to play with it.

I think my repository is working properly. At the moment it's being signed by my own GPG key.
So, if anybody can test this, that would be great. The repository is:
`deb http://raw.githubusercontent.com/fcastilloec/headset-electron/repo/debian deb-packages/`
Which can be added through the graphical tool in

[2017-08-04 11:01] m1guelpf commented on #43
@fcastilloec Looks fantastic! I'll try to test it when I get to a computer. One suggestion, is considered a better practice to create a new file in sources.list.d instead of adding text to sources.list

[2017-08-04 13:06] m1guelpf commented on #43
@fcastilloec
[code]

[2017-08-04 18:01] fcastilloec commented on #43
@m1guelpf thanks for testing it!!! I'm glad that it's working. I forgot about that warning, I just update the digest algorithm to SHA512 so it's gone. If you update your system, the warning should be gone.

The only problem I'm having now is that running `yarn run build` a second time will create a deb package twice as big. If you run it a third time, it will double again. So I can easily be getti

[2017-08-04 18:10] m1guelpf commented on #43
@fcastilloec If you create a script that can generate the deb file, then we can make Travis generate it, and push it back to the repo. If you want, I can do that, but first we need @danielravina's opinion and a PGP key we can move to Travis (maybe using Travis hidden vars). Also, I'd like to do this in other repos, so would you mind writing the process you followed to create the files in your bran

[2017-08-04 18:33] fcastilloec commented on #43
@m1guelpf I'm not familiar with Travis, so I will leave that to you. Regarding the PGP key, I don't think that the private key should be stored anywhere online, just for security purposes. I'm not sure how Travis hidden vars work, so maybe that could be secure enough, I just always feel uneasy having a private key somewhere online. Like you said, @danielravina is the one with the final word regard

[2017-08-04 20:53] Joseph65 opened #52 "Add a reddit Radio"
it would be nice if we could add a custom reddit radio, for example /r/kpop or /r/citypop/

[2017-08-04 21:29] m1guelpf commented on #52
:+1: for this!

[2017-08-04 21:41] danielravina commented on #43
I'd like to move to Travis. Better check with @bil-elmoussaoui I think he is working on a PR for that https://github.com/headsetapp/headset-electron/issues/15#issuecomment-318868101

[2017-08-04 22:43] fcastilloec commented on #43
@danielravina from what I understood from @bil-elmoussaou comment, you have to setup Travis on this repository first, after that @bil-elmoussaou can work on a PR. Nonetheless, Travis is a different issue, somewhat related to this one, but not necessarily. I think that opening a new issue just for Travis integration might be better.
In the meantime, we already have a packagecloud repository and a t

[2017-08-04 22:48] m1guelpf commented on #43
@fcastilloec I think it'd be better to move to Launchpad

[2017-08-04 22:59] fcastilloec commented on #43
@m1guelpf it seems that we can't build electron apps on launchpad (see this [askUbuntu post](https://askubuntu.com/questions/794953/electron-app-as-ppa) )
And we can't just upload deb files to launchpad. Launchpad only takes source code, nothing else.
I'm editing my previous post to delete the launchpad mention since this is not really an option for this project.
If we want a PPA we will have to c

[2017-08-05 00:57] danielravina commented on #43
I set up Travis with the project https://travis-ci.org/headsetapp/headset-electron

[2017-08-05 13:49] bil-elmoussaoui commented on #43
@fcastilloec Are you sure you can't upload deb files to launchpad? https://help.launchpad.net/Packaging/PPA/Uploading

[2017-08-05 13:52] bil-elmoussaoui commented on #5
@fcastilloec Which OS doesn't come with MPRIS? :p

[2017-08-05 18:43] fcastilloec commented on #43
@bil-elmoussaoui I've seen that page, here's a quote from the link you posted:

So again, we either host it in github (a subfolder on this repo), github pages (a new repository), or on headsetapp.co. There's also packagecloud but I have my doubts about that.
At the end @danielravina has the final say

[2017-08-05 19:00] bil-elmoussaoui commented on #43
@fcastilloec We at Ramme use Travis to publish the deb files directly to the release tag https://github.com/terkelg/ramme/releases/tag/v3.2.3

[2017-08-05 19:06] danielravina commented on #43
I'd like to use the release tag as it is consistent with Windows and Mac.

[2017-08-05 19:10] fcastilloec commented on #43
The release tags on github are not the same as an APT repository. The whole point of APT is that once a new version is released (publish deb file and other required files), it will be installed automatically on the user system. Github release tags only publish it so the user has to manually download the new version of the app. Also, I thought @danielravina was already doing this for all versions o

[2017-08-05 19:13] danielravina commented on #43
yes that's how it's done currently but it's a manual process. it's better to use Travis in order to automate it.

[2017-08-05 19:16] bil-elmoussaoui commented on #43
@fcastilloec Who uses Launchpad anyway? It's the worst tool ever invented. You can't even compile native applications correctly. You think you will be able to do so with semi-native/hybrid apps like Electron ones? :laughing:
Having a way to download the latest deb file is the best thing the dev can do at the moment. Or just publish a snap/flatpak package instead which is much easier to update than

[2017-08-05 19:22] fcastilloec commented on #43
@bil-elmoussaoui I agree, the only good thing about Launchpad is just the PPA repositories, nothing else.
That's why we're trying to host a APT repository somewhere else (either github or headsetapp.co)
I already have a Travis configuration working but only for building packages. I'm testing how to publish them to an APT repository with Travis.

[2017-08-07 03:14] fcastilloec commented on #43
After a lot of playing with Travis, I can say that there's no way to set up an APT repository automatically with them (unless it's with [packagecloud.io](packagecloud.io)).
We have to manage it manually because we need to sign some files and this is not possible, this is similar to what @danielravina mentioned on PR #53 when trying to setup OSX on Travis. By using `packagecloud.io` we let them tak

[2017-08-07 09:15] m1guelpf commented on #43
I'd suggest to create another repo, use it as an apt repo and push the binaries from Travis. I can take care of the code to push it, if you want.

[2017-08-07 09:57] luispabon commented on #5
It is OK to have tailored solutions for problems specific to certain OS.

[2017-08-08 04:09] danielravina commented on #43
The open source (free) version of packagecloud only allows 250mb of storage. this will only support one build at a time. maybe we can use the headsetapp.co repo (https://github.com/headsetapp/headsetapp.github.io) WDYT?

[2017-08-08 04:20] fcastilloec commented on #43
@danielravina I think that the free version is enough storage. You only need the space to host the `deb` packages and a couple of small files. The small files won't take more than a couple of kB, the `deb` package is ~36MB right now, so 250MB looks like enough. Actually, packagecloud might not even consider the small files as part of the storage since they automatically create those file for relea

[2017-08-08 05:18] danielravina commented on #43
ok sounds good. let's try packagecloud. I will sign up.

[2017-08-08 05:24] danielravina commented on #52
👍 This will be a part of an all around search initiative that I'm working on. Basically, every page will have its own search bar (i.e search within your collections, likes, etc.) The radio will be a filter type that you could add subs that do not exist (and save them too)

[2017-08-08 05:27] danielravina commented on #43
ok for Travis, the config is:
[code]
there's also an API token environment variable that I need to add.

[2017-08-08 05:37] fcastilloec commented on #43
I'm not familiar with ruby so I don't really understand what that's doing. Is `package_cloud` a program/script that helps you upload your package to packagecloud?
Travis uploads automatically if a build is successful. You just need to add the `deploy` tag on the `.travis.yml` file. You can see the tags you need on `.travis.yml` [here](https://docs.travis-ci.com/user/deployment/packagecloud/).

[2017-08-08 09:10] m1guelpf commented on #43
@danielravina The problem with packagecloud is that you need to upload the deb for every linux version you want to support, and that would make the space disappear before even having one version uploaded (personal experience). I'd stick with pushing to another branch or the website repo.

[2017-08-08 10:44] danielravina commented on #43
@fcastilloec `gem install` is the same as `npm install` for ruby. @m1guelpf good point. I did think about it and 250mb will allow 5 - 6 distros. Wouldn't that be enough?

[2017-08-08 11:05] m1guelpf commented on #43
@danielravina The problem is that you have to upload the file for every version of the distro you want to support. If you want Ubuntu, for example, you have to upload one for 10.4 (LTS), 10.10 (the one most users are on), 11.4 (latest)... When I tried to upload headset, uploading a version for both Ubuntu LTS & Ubuntu 10.10 filled all the space available.

[2017-08-08 19:36] fcastilloec commented on #43
@m1guelpf You could just upload one version, for example, Ubuntu 16.04. And on `headsetapp.io` give instructions to add the 16.04 repository for all version of ubuntu/elementaryOS/debian/LinuxMint. Travis is using 14.04 to test the build, so technically you could only upload that version, since other version haven't been tested.
Currently, the `deb` file will work with almost all version of any de

[2017-08-09 07:45] m1guelpf commented on #43
@fcastilloec The problem with that is that we still have to upload one file for each distro... anyway, if it works, I'm :+1: with Packagecloud.

[2017-08-09 08:50] fcastilloec commented on #43
@m1guelpf are you saying that packagecloud forces you to upload a package for each distro? otherwise, it won't publish any package?
As an example, let's say we upload one package for Ubuntu 16.04 (Xenial). The repository would look something like: `deb packagecloudURL/headseatapp xenial` and you could add that repository to Ubuntu 17.10 (Artful) as is (without replacing `xenial` to `artful`). Any

[2017-08-11 01:09] danielravina commented on #43
opened a PR with the deploy script. Please review https://github.com/headsetapp/headset-electron/pull/54

[2017-08-11 10:36] sunnlife opened #55 "installation in fedora"
Hi,
i followed your instructions to build and install Headset with electron packager but nothing happens in step 3 (Create your build).
Could you help me please ?
thanks in advance

Alex

[2017-08-11 10:41] m1guelpf commented on #55
@sunnlife You can try to use Alien to convert the .deb release to a .rpm package yum can install...
[Reference](https://www.systutorials.com/qa/212/how-to-install-deb-packages-on-fedora).

[2017-08-11 10:49] sunnlife commented on #55
Thanks for your answer.
I tried to convert but when i install the rpm package i have an error message: "Conflict with filesystem-3.2-40.fc26.x86_64 package" ...

[2017-08-11 10:51] m1guelpf commented on #55
@sunnlife Then, I think we need a .rpm build, don't we @danielravina?

[2017-08-11 10:52] sunnlife commented on #55
Agree ! ;-)

[2017-08-11 23:43] fcastilloec commented on #5
@danielravina I think we can close this issue

[2017-08-11 23:43] fcastilloec commented on #55
I'm going to test a build script for rpm. I'll let you guys know how it goes

[2017-08-12 06:01] fcastilloec commented on #55
@sunnlife can you please test this new `rpm` package? [Headset-1.6.0.amd64.rpm](https://drive.google.com/open?id=0B9DkUtc21XAAVTIzdEhfb0JJVVk)
Just in case the SHA256 checksum is: `ef01e123931d77d62452ebd4dbbb7931bf531613ce3ff20a4e3ae0b2689929c1`

Let me know if there are any errors. I tested it on a virtual machine running Fedora 26.  If everything is working as it should, I'll do a PR to add sup

[2017-08-12 10:34] m1guelpf commented on #5
Maybe we could push a new release before?

[2017-08-12 23:37] fcastilloec commented on #20
Kodi already has a Youtube plugin, you can do everything you want on there. Is there something I'm missing? This app is supposed to be a desktop music player. I might not understand what you're wanting.

[2017-08-13 08:37] matejmosko commented on #20
Just a button (or better checkbox) "Play on kodi". There is an api that allows you to send requests to kodi. You send just a link to kodi and it decides what to do with it. What I propose is a way to be able to send youtube links to a headless kodi music player instead of playing it locally.

[2017-08-13 08:47] fcastilloec commented on #20
what's different from just using the [youtube plugin](http://kodi.wiki/view/Add-on:YouTube)? That add-on/plugin does what you need

[2017-08-13 09:01] matejmosko commented on #20
With **headless** kodi installation there is a youtube plugin inside kodi, but there are limited ways to use it. What I am asking is your app to be able to send requests to youtube plugin you mention. Your app is currently the best youtube control app. With a few lines of code it would have been the best youtube plugin remote control as well.

[2017-08-13 09:05] fcastilloec commented on #20
@matejmosko it's not my app, it's @danielravina . I'm just trying to help because I also think this is the best youtube app out there.
I'm really not familiar with Kodi, I use Plex for my media, so I won't be able to help with this. Unless the owner knows about Kodi and/or is willing to add support for it, I suggest you contribute with a pull request to add this feature yourself.

[2017-08-13 09:09] matejmosko commented on #20
Ok, think of a kodi as of a much more powerfull chromecast or any android tv box. It can do great things but it lacks in desktop remote controlls area. This one would really help.

I will look into it later. When I originally created the issue I had very little experience with electron. Nowadays it is really different, so hopefully I will create a pr :) Thanks for your interest.

[2017-08-13 17:43] danielravina commented on #43
just received this email from packagecloud:
[code]

That's 3 downloads.

[2017-08-13 17:44] danielravina commented on #43
I downloaded the package couple of more times from https://packagecloud.io/headsetapp/headset-electron/packages/ubuntu/trusty/Headset_1.6.0-1_amd64.deb now it's over the usage but I can still download. It doesn't say in their FAQ what happens when you go over the limit

[2017-08-13 18:10] danielravina commented on #43
[code]

Ok packagecloud is definitely not an option.

[2017-08-13 18:37] fcastilloec commented on #43
Wow!!! I didn't know there was a bandwidth limitation. packagecloud has a better 'free' plan for open source projects. We just have to contact them. But I agree @danielravina, I think it'll be better to deploy to github pages and host our own repo. In the meantime, we should setup github releases.
I just have to figure out how to automate the signing of `deb` packages.

[2017-08-13 18:41] danielravina commented on #43
WDYT about this solution? https://github.com/headsetapp/headset-electron/issues/15#issuecomment-302519087

[2017-08-13 18:51] fcastilloec commented on #43
It looks ok to me, the page doesn't have a lot of information. The Terms of Services says they are in a "state of testing" so we won't know if it will be free always, or if they'll introduce bandwidth restrictions.
They do have some code on how to integrate with Travis.
I'm going to try to crack on how to host your own repo on GitHub pages. I think that by using Travis hidden variables we could up

[2017-08-13 18:59] m1guelpf commented on #43
:+1: for slack

[2017-08-13 19:05] danielravina commented on #43
Here's the invite link: https://join.slack.com/t/headsetapp/shared_invite/MjI2MDc1NjUwODA0LTE1MDI2NTEwNjgtZTlkNmFiYTBiOQ

[2017-08-14 08:11] sunnlife commented on #55
Hi fcastilloec !

Thanks !! It works fine !!!

[2017-08-14 08:11] sunnlife commented on #55
It works in F26

[2017-08-16 05:07] danielravina commented on #34
closing due to inactivity

[2017-08-16 05:07] #34 closed

[2017-08-19 17:39] FabioLolix commented on #16
Hi @danielravina
I'm the AUR packager for the binary version of headset, built from the Debian package

It would be nice if you write that can be installed with "yaourt -S headset-bin" or equivalent on Arch & derivates

[2017-08-21 06:09] danielravina commented on #52
Feature added https://twitter.com/headsetapp/status/899512234178560000

[2017-08-21 06:12] danielravina commented on #52
closed by mistake. @Joseph65 I'll let you close it off

next release for that page will be the ability to save / bookmark so you won't have to search everytime

[2017-08-24 21:58] fcastilloec opened #58 "Browse away from last.fm login page"
There's no way to go back to headset app after the last.fm login page is shown. I'll describe my experience to better explained what happened.
I decided to try using the last.fm feature on the app. Once I landed on the last.fm login page, I realized that I wanted to change the current song and there's no way to navigate away from this page. You have to either login and proceed with last.fm or clos

[2017-08-25 00:14] FelixVicis opened #59 "Sync Collections and YouTube playlists"
It would be very useful to have a sync function to get your saved playlists from YouTube or save a collection as a playlist.

[2017-08-25 11:48] Martina-Neumayer commented on #33
Well.. Under Linux Mint Mate the app lands after the installation under the "Programs -> Accessories" instead of "Programs -> Sound and picture". I mean in the Mint Menu.

[2017-08-25 11:52] Martina-Neumayer commented on #8
Yeap.. The tray icon would be great to have also in Mint Mate ;)
Like is in the - for example - messenger for desktop app. Is also an electron wrapped one.

[2017-08-25 11:57] Martina-Neumayer commented on #59
Exactly. Or something like YT account log-in option.

[2017-08-27 05:17] danielravina commented on #59
Thanks for the feedback. it was requested in #25 and its in the works currently.
It will go out in three phases:
1. Log in with Google;
2. Fetch playlists from youtube;
3. Save playlists back to youtube

[2017-09-06 07:11] masonc15 opened #66 "Now Playing tab"
Hello,

I selected a Youtube channel to play on shuffle through Headset.  While listening, I went into the settings and now I cannot go back to see the song currently playing.  None of the four menu options on the bottom bring me to the current queue.  Is this something that needs to be added?

[2017-09-06 15:31] danielravina commented on #58
This is not an easy problem to solve. I can try to inject a back button using an iframe but since last.fm is returning an access token in the url callback, need to make sure the app will have access to it. This has low impact though since users will usually experience this only once (or none at all). Thanks for reporting!

[2017-09-06 15:32] danielravina commented on #66
What were you doing in the setting? If you log-out or connect to last.fm, the app will reload and if there's a song playing, it will keep playing (since the video is in a different window). This is, unfortunately, an annoying (but yet low impact) issue and I need to think how to solve it. Suggestions are welcomed. Thanks for reporting!

[2017-09-06 16:46] masonc15 commented on #66
I think I did connect to last.fm actually!  I did see the song still playing in the separate window but no way to control via the main window.  Thanks for responding and I'm glad you are aware of the issue.  After restarting the app, the controls reappeared like normal.

[2017-09-09 13:24] SJTUboy commented on #38
I have the same issue!

[2017-09-09 17:42] danielravina commented on #5
Fixed and available in https://github.com/headsetapp/headset-electron/releases/tag/v1.6.0-linux

[2017-09-09 17:42] #5 closed

[2017-09-09 17:44] danielravina commented on #8
Fixed and available in https://github.com/headsetapp/headset-electron/releases/tag/v1.6.0-linux

[2017-09-09 17:44] #8 closed

[2017-09-09 17:44] danielravina commented on #15
Fixed and available in https://github.com/headsetapp/headset-electron/releases/tag/v1.6.0-linux 🎉

[2017-09-09 17:44] #15 closed

[2017-09-09 17:45] danielravina commented on #55
Available in https://github.com/headsetapp/headset-electron/releases/tag/v1.6.0-linux

[2017-09-09 17:45] #55 closed

[2017-09-12 19:23] joseluisq commented on #15
Awesome! :+1:

[2017-09-15 17:08] viperfx commented on #59
@danielravina do you have a branch available? I would love to contribute. I've done similar projects with the YT API.

[2017-09-15 18:29] danielravina commented on #59
Thanks @viperfzx by this part of the code is closed source and we will work on this internally.

[2017-09-19 08:47] abourdon opened #68 "Mac: have a choice to minimize application to dock or menu bar"
Hi!

First of all, thanks for this useful application! I was bored to always open a dedicated tab on my browser only to listen music through Youtube... Second, thanks for providing a way to limit bandwidth for those who only use Youtube to listen music!

Just an idea to be perfect: could it be possible to have an option to choose the way to display application icon? This way we could choose to min

[2017-09-21 17:39] FelixVicis opened #69 "Collection cannot open when a playlist is deleted from YouTube"
Collections that are out of sync with YouTube can no longer be opened and show the loading screen infinitely. Preferably, some message should be shown and the user should be allowed to un-follow the collection.

![image](https://user-images.githubusercontent.com/6580094/30709768-326daffc-9eb8-11e7-8532-0178a3f94236.png)

![image](https://user-images.githubusercontent.com/6580094/30709787-41e3839e-

[2017-09-23 17:13] dostiharise opened #70 "Multimedia keyboard bindings."
Would love to have multimedia keyboard bindings for pause/play, next and previous keys.

I use them often during my coding sessions, so that I don't have to switch my focus to the player. Spotify Ubuntu client does it well.

[2017-09-23 17:40] fcastilloec commented on #70
@dostiharise What version of headset did you install. What's your operating system? If you're using Linux, which distro and version?
Multimedia keys have been fixed in the latest release, all the issues about that have been close (try searching close issues and you'll see).
This is a duplicate of #5 #17 #24

[2017-09-23 19:20] danielravina commented on #69
Good catch. Didn't address this case. Shouldn't be hard to fix!

[2017-09-23 19:24] danielravina commented on #70
Windows + Mac supports media keys. Linux support is in 1.6.0 https://github.com/headsetapp/headset-electron/releases/tag/v1.6.0-linux

[2017-09-26 04:56] #52 closed

[2017-10-08 21:28] fcastilloec opened #72 "Headset doesn't work on Lubuntu"
v1.6.0 is broken on Lubuntu because that OS is not based on Gnome.
The latest code on github does work and installs without a problem. The commit https://github.com/headsetapp/headset-electron/commit/b6b102d0a4f07b4212494f8d635abcedd40d1426 solved the problem by adding extra dependencies to the `.deb` package.

Users should install the package from the repositories which will fix the problem

[2017-10-10 04:03] danielravina commented on #66
Duplicate #58

[2017-10-10 04:03] #66 closed

[2017-10-10 04:06] danielravina commented on #45
Some updates on the progress: The dark theme design is ready! I would merge it after #38 is fixed since if you're using it on multiple machines, it will be really annoying to switch between themes all the time.
This is how it will look like:
![screen shot 2017-10-06 at 11 48 40 pm](https://user-images.githubusercontent.com/3150871/31368931-ace9c726-ad35-11e7-8805-19a410ef5126.png)

[2017-10-10 15:40] danielravina opened #77 "Save radio stations"
As a follow up to #52, the next step is to allow users to save their favourite stations and pin them to the top.

[2017-10-11 05:33] fcastilloec opened #78 "Volume bar is not updated when changed from mpris"
The volume bar should be updated when a change happens through `mpris`

[2017-10-14 18:28] danielravina commented on #72
Fixed in https://github.com/headsetapp/headset-electron/releases/tag/v1.6.1

[2017-10-14 18:28] #72 closed

[2017-10-14 18:28] danielravina commented on #70
Fixed in https://github.com/headsetapp/headset-electron/releases/tag/v1.6.1

[2017-10-14 18:28] #70 closed

[2017-10-14 18:29] danielravina commented on #43
APT is now available in https://github.com/headsetapp/headset-electron/releases/tag/v1.6.1

[2017-10-14 18:29] #43 closed

[2017-10-14 18:29] danielravina commented on #33
You can run `headset` after installing https://github.com/headsetapp/headset-electron/releases/tag/v1.6.1

[2017-10-14 18:29] #33 closed

[2017-10-22 11:06] Logan1x opened #79 "Why not adding support for soundcloud?"

[2017-10-24 00:52] niftylettuce opened #80 "brew cask package"
can you please add this to brew?  `brew cask install headset` would be nice

[2017-10-24 02:28] danielravina commented on #80
Believe it or not, someone already did it :) Just found out now when tried to submit! Thanks @victorpopkov! :)

[2017-10-24 02:28] #80 closed

[2017-10-24 02:40] danielravina commented on #80
+ Added homebrew instructions to the readme

[2017-10-24 06:00] m1guelpf commented on #80
@danielravina Is there any way to make sure the cask package is always updated?

[2017-10-24 06:07] danielravina commented on #80
This could probably be done automatically with travis using https://github.com/caskroom/homebrew-cask/blob/master/CONTRIBUTING.md#updating-a-cask. I'll want to wait on this though as the mac build is not fully ready

[2017-10-25 05:57] danielravina commented on #38
I made the necessary changes to the API and database to allow login to multiple machines. Please let me know if you experiencing any issues before I close this issue. Thanks!

[2017-10-26 04:07] danielravina commented on #79
It's not a question of why, but when. I had some issues with the API before when combining search results and finding relevant ones (everything I searched for returned low-quality stuff). My plan is to only include it in the radio page since Reddit has a lot of soundcloud links.

[2017-10-28 04:58] Logan1x commented on #79
Hope you find some good quality stuff soon 😊.

[2017-10-28 04:58] #79 closed

[2017-10-29 10:46] Pepello commented on #38
Hi, I'm logged in Headset from two pc, but I can use it only on the last pc I've logged in succesfully. On the other pc the app is stuck on initial loading.
![image](https://user-images.githubusercontent.com/15652360/32142789-64645b88-bc9e-11e7-9f9a-69c23df08f32.png)

[2017-10-29 18:08] danielravina commented on #38
@Pepello can you send me your email to hello@headsetapp.co so I can troubleshoot?
You can also talk to me on slack with this link: https://tinyurl.com/y7m8y5x4

Thanks!

[2017-10-30 17:47] Pepello commented on #38
@danielravina Your fix seems to work. Thank you very much!

[2017-10-31 02:36] SJTUboy commented on #38
![image](https://user-images.githubusercontent.com/13373715/32204942-66922400-be27-11e7-9a66-29b08d60d8fe.png)

[2017-10-31 05:45] danielravina commented on #38
Emailed you back

[2017-10-31 06:46] danielravina commented on #45
Dark theme is available. Change it via the profile page
click on:
<img width="96" alt="screen shot 2017-10-30 at 11 45 55 pm" src="https://user-images.githubusercontent.com/3150871/32210723-81ba5618-bdcc-11e7-9a68-60702e140c5b.png">

[2017-10-31 06:46] #45 closed

[2017-10-31 07:42] m1guelpf commented on #45
@danielravina How about auto-changing based on time?

[2017-11-03 13:59] SJTUboy commented on #38
Thank you very much! It't caused by the Great Firewall in China.
When I use VPN, it's OK
![image](https://user-images.githubusercontent.com/13373715/32377317-30771476-c0e2-11e7-8053-343ee97c2d92.png)
I love Headset app very much! Thanks again

[2017-11-05 00:56] fcastilloec opened #81 "Fix Travis before_deploy"
I notice that Travis is showing some errors when deploying and it's because the `before_deploy` should be only run when deploying to `gh-pages` and not to `releases`.
Right now, I'm not aware of this causing any problems, but it should be fixed anyways.
I will fix this issue. I'm just reporting it here so to keep track of it and not forget it.

[2017-11-06 01:58] danielravina commented on #38
Thanks everyone who contributed and reported! I will close this issue now.

[2017-11-06 01:58] #38 closed

[2017-11-06 02:00] danielravina commented on #38
@SJTUboy bytheway, that weird white margin on the right-bottom is fixed. `v1.6.1` had an outdated package for Windows. I updated the fix and it's available here https://github.com/headsetapp/headset-electron/releases/download/v1.6.1/HeadsetSetup.exe

[2017-11-06 10:29] rajat-np opened #82 "JavaScript error while using media shortcut keys (next track / previous track) on a windows machine."
When headset is running , the keys work with itself, but when I quit the app , headset closes but I cannot use the media shortcut keys from my keyboard, it gives me an js error.

[2017-11-06 10:30] rajat-np opened #83 "Media shortcut keys on keyboard not working with ubuntu 14.04 LTS."

[2017-11-06 16:16] SJTUboy commented on #38
Thanks!

I will update now!

[2017-11-06 16:55] danielravina commented on #82
Are you using the latest version? 1.6.1

[2017-11-06 16:56] fcastilloec commented on #83
@rajat-np which version of Headset are you using? and how did you installed the app? (repository, deb, source, etc)

[2017-11-07 03:22] rajat-np commented on #83
I installed using deb file. this is the file. "Headset_1.5.4_amd64.deb"

[2017-11-07 03:24] rajat-np commented on #82
No i am using version 1.5.4.

[2017-11-07 03:25] danielravina commented on #83
Hi! Please try to use the latest version: https://github.com/headsetapp/headset-electron/releases/download/v1.6.1/headset_1.6.1_amd64.deb

[2017-11-07 03:32] rajat-np commented on #83
Yes sir , i installed the latest version and the issue is fixed , thanks.

[2017-11-07 03:34] #83 closed

[2017-11-09 05:31] rajat-np commented on #82
The issue is solved in the new version. Great!!

[2017-11-09 05:31] #82 closed

[2017-11-13 01:51] danielravina commented on #81
Fixed with #84

[2017-11-13 01:51] #81 closed

[2017-11-13 06:07] danielravina commented on #10
Finally, Issue is fixed!

[2017-11-14 04:02] danielravina commented on #37
Hey! Sharing link added:
<img width="250" alt="screen shot 2017-11-13 at 8 01 09 pm" src="https://user-images.githubusercontent.com/3150871/32762313-939f393e-c8ad-11e7-89f3-5a3e0bb52d8e.png">

[2017-11-14 04:02] #37 closed

[2017-11-14 04:11] danielravina opened #86 "Show Channel's playlists + uploads"
### Description

Followup to #41. When selecting a user, display the channel's uploads as well as the playlists made by that channel.

[2017-11-14 04:14] danielravina commented on #41
Opened a new issue #86 with the enhancement of this issue.

[2017-11-14 04:14] #41 closed

[2017-11-14 04:38] fcastilloec opened #87 "NowPlaying tab disappears after account logout"
If something is playing and you logout from your account, the track continues to play but the now playing tab disappears and I can't control it anymore.

Headset should either stop the currently playing song, or it should keep the NowPlaying tab open.

[2017-11-14 04:53] danielravina commented on #87
Fixed - Headset will stop the currently playing song when the user logs out.

[2017-11-14 04:53] #87 closed

[2017-11-15 07:08] danielravina commented on #10
This fix is causing a bug that prevents tracks from playing in sequence because the state of the player is stuck in `PAUSED`. re-opening. will investigate further.

[2017-11-16 11:46] harishr1308 opened #88 "A JavaScript error has occured in the main process"
### Description
An error box has appeared which skips the music from my Likes list

### Expected behaviour
Playing Music from my likes without this error

### Actual behaviour
Uncaught Exception:
TypeError: Cannot read property 'webContents' of undefined
    at EventEmitter.ipcMain.on (/usr/lib/Headset/resources/app/index.js:130:9)
    at emitTwo (events.js:106:13)
    at EventEmitter.emit (events

[2017-11-16 16:30] danielravina commented on #88
Hi!

Please update to the latest Ubuntu build (1.6.1)
- Download the .deb from
https://github.com/headsetapp/headset-electron/releases/download/v1.6.1/headset_1.6.1_amd64.deb
or use the APT repository:
https://github.com/headsetapp/headset-electron#debian

[2017-11-24 21:26] romankisil opened #89 "Feature proposal: Audio Equalizer"
As this app is Built with Electron, and its essentially Chrome maybe it's possible to implement an Audio EQ by an example from this extension: https://github.com/ejci/Chrome-Audio-EQ

[2017-12-04 18:31] danielravina commented on #89
Great idea! I will add it to my todos. Thanks a lot!

[2017-12-04 21:47] nodeful commented on #89
You guys want any help with that? I am a Full-Stack JavaScript Developer with some Electron experience and a popular EQ app for the Mac: https://github.com/nodeful/eqMac2
I am using your guy's app every day now and would love to contribute somehow. Pretty shit at UI/UX though lol 👎

[2017-12-08 11:15] weahforsage opened #91 "Make headset into one window"
### Hello "Headsetters"

### Expected behaviour

Actually i have little enchancement or request.

### Head set in 1 window(tab)
Please make headset app in only 1 window without seperate audio from video.
Just move second window to 1st main video player, instead of static thumbnail image. Hope you understand :+1:

### Your Environment

Linux Mint 18.3
Core: 1.3.6 Wrapper: 1.6.1
### Screenshots

🖼

[2017-12-08 17:51] fcastilloec commented on #91
This got me thinking. Maybe we could have both windows "merged" by having two tabs on a window. Tabs can be created with the package [`electron-tabs`](https://www.npmjs.com/package/electron-tabs). It would be even better to "pin" the player tab so it's smaller and out of the way if that's even possible.
Anyway, I think the current behavior is working great, this recommendation is just personal pre

[2017-12-09 17:56] Foxylizer opened #92 "Links not copied to clipboard."
### Description

When trying to share a link, while Headset claims the link is copied, when I go to paste it, it actually isn't.

### Expected behaviour

The link is copied, I can paste it.

### Actual behaviour

The link can't paste.

### Environment

Windows 10 -Version 1709
Headset -Version 1.3.6

### Screenshots

![image](https://user-images.githubusercontent.com/29559592/33798075-f90072fa-dcd

[2017-12-09 20:22] fcastilloec commented on #92
I remember that this use to work last week or two weeks ago. Nonetheless, right now it doesn't work.
Using the latest release available: **Linux** Core: 1.3.6, Wrapper: v1.6.2, Windows: Core: 1.3.6, Wrapper: v1.6.1; I can duplicate this bug on both 32 and 64bit Debian and Redhat distros and all Windows version (7, 8.1, 10)

[2017-12-10 05:36] weahforsage commented on #91
Thats very annoying when i switch the tabs.

[2017-12-10 20:53] sibeliusg commented on #91
I would prefer just one window with player and video. The video is open somewhere anyway, so why not in one window?

[2017-12-10 20:57] sibeliusg opened #94 "ability to always access the current queue"
Sometimes it happens (in a new search f.e.), that the visibility of the current queue disappears. A simple icon to access the current queue could fix this.

Using Headset 1.6.1 on Windows 10 x64

[2017-12-10 23:05] danielravina commented on #68
Hi, sorry for the late response!
Would you want to open a PR for that? Thanks

[2017-12-10 23:05] #88 closed

[2017-12-10 23:08] danielravina opened #95 "Update brew cask automatically"
### Description

Allow Travis CI to update a new macOs version to the brew cask repo. Similar to
https://github.com/caskroom/homebrew-cask/pull/39987

[2017-12-10 23:38] danielravina commented on #91
Thank you for raising this issue. as @m1guelpf said, under YouTubes' ToS, the app cannot hide the video in any way shape or form. It needs to have min size of 200x200 and without any overlay or frame (Source: https://developers.google.com/youtube/terms/required-minimum-functionality).
With the current UI, replacing the thumbnail with the video and/or adding tabs within the app, will violate this t

[2017-12-11 04:30] danielravina commented on #92
Bug fixed (Core: 1.3.7). Sorry about that!

[2017-12-11 04:37] fcastilloec commented on #92
I can confirm that Core: 1.3.7 fixes the issue on all OSs

[2017-12-11 06:39] danielravina commented on #92
Thanks @fcastilloec! closing now.

[2017-12-11 06:39] #92 closed

[2017-12-11 08:09] abourdon commented on #68
Hi,
Sorry no, I do not have much time right now...

[2017-12-11 17:35] knw257 opened #96 "Add media key compatibility"
The ability to control playback (play, pause, next, last) from keyboard media keys would be extremely useful.

[2017-12-11 17:44] m1guelpf commented on #96
Duplicate https://github.com/headsetapp/headset-electron/issues/83 https://github.com/headsetapp/headset-electron/issues/82 https://github.com/headsetapp/headset-electron/issues/70 https://github.com/headsetapp/headset-electron/issues/5

[2017-12-11 18:24] fcastilloec commented on #96
@knw257 There's a template for filling issues so it's easier for us to help. It's helpful to know what OS are you using, and what version of Headset (both core and wrapper versions)
I'm going to go out on a limb and say that you're not using the latest version of Headset, v1.6.1 (v1.6.2 hasn't been published yet).
If you're using Linux, please use the repositories to install, so you'll have the la

[2017-12-11 18:47] fcastilloec commented on #10
The buttons states are still not synced.
On top of that. If you pause the video player, after a little less than 10 seconds the next track starts playing automatically. This might be related to "...the state of the player is stuck in PAUSED..."

[2017-12-11 19:16] knw257 commented on #96
Ahh, my apologies for the substandard submission.

I'm currently running Windows 7, and I couldn't find any documentation indicating that the media keys were supposed to work. I also somehow missed the issues this was marked as a dup for. Currently, I'm running Core 1.3.7, Wrapper 1.6.1.

Currently, none of the basic media keys (e.g. Play/Pause, Backward or Forward) work with Headset. I've verifie

[2017-12-11 20:05] fcastilloec commented on #96
I only have a Windows 10 machine where this is not an issue. My Windows 7 and 8.1 are virtual machines so I can't test media keys there. I'm trying to find a keyboard mapper so I can test it on Windows 7.
@m1guelpf do you have windows 7? so you can replicate this?

[2017-12-11 21:25] m1guelpf commented on #96
@fcastilloec Ubuntu only, sorry. In totally unrelated news, wine and playonlinux seem to work :smile:.

[2017-12-11 22:18] fcastilloec commented on #96
@m1guelpf wow! I never thought of using wine with it. I use wine and mono to compile the installers but not run them.
@knw257 I was able to test the media keys with Windows 7 and 8.1 and they are working properly. On Windows, if an app has already got a hold of the keys, then a new one can't use them. So, I recommend you close all media apps that can interact with the media keys before launching H

[2017-12-11 22:18] #96 closed

[2017-12-12 05:16] danielravina commented on #10
I reverted the change since it was causing issues - specifically, tracks are paused automatically after skip.

The 10 seconds is actually a fix for #6. There is no indication from the player on whether or not a video is available so there is a timer that periodically checks that a video is playing (i.e current time has changed) and the state is on `playing`. it's a bit of a hack but it works in mo

[2017-12-12 05:18] danielravina commented on #68
no problem. It's on my todos anyways :) cheers

[2017-12-16 22:05] danielravina commented on #94
Hi! What do you mean disappears? Can you send a screenshot or steps to reproduce, that will be helpful. Thanks a lot!

[2017-12-20 17:19] Ohems opened #98 "Feature proposal: Create collection with a playlist link"
### Description

Playlists can be hidden on Youtube so that they can't be searched but could still be used as a base for collections. Most playlists created for personal use are like this. At the moment, Headset requires playlists to be made public before they can be searched and turned into a collection.

If there is already a way to do this in the application, I didn't find it.

OS: Windows

[2017-12-21 22:06] danielravina commented on #98
Until headset is connected to your google account via Oauth, there is no way to access private playlists. This is a feature that we will add in the future.

[2017-12-21 22:17] Ohems commented on #98
I wasn't talking about private playlists. There are three types of visibility levels for playlists: public, hidden and private. Public playlists can be searched with your search tool and private ones require Oauth, but hidden ones could be added freely if the link is known. However, Headset doesn't provide the possibility to insert playlist links.

[2017-12-21 22:23] danielravina commented on #98
Oh ok I see what you mean! This feature is not available at the moment. thanks for suggesting. will add it to the backlog.

[2017-12-27 13:40] slaci18 commented on #9
Hi! Is there any kind of progress with the i386 port?

[2017-12-27 18:22] fcastilloec commented on #9
I'm not sure if we will provide pre-compiled 32bit installers, but you can easily build one yourself from the code (follow the instructions on the README)
Setting up Travis, our CI, to automatically deploy 32bit is a lot more complicated since they use 64bit by default. This brings me to the fact that a lot of Linux distros are "dropping" 32bit support. [Elementary OS](https://elementaryforums.com

[2018-01-04 15:06] mariusbancos opened #109 "Control volume of the app from the keyboard special buttons"
### Description

Control volume of the app from the keyboard special buttons

### Expected behaviour

I want to control the volume of the music played through the Headset app using the keyboard volume buttons.

### Actual behaviour

This doesn't happen as expected. For example the start/stop/back/forward buttons from the keyboard are working as expected but not the volume buttons.

### Your Enviro

[2018-01-04 19:09] m1guelpf commented on #109
@mariusbancos I think (@danielravina, correct me if I'm wrong) that's because Headset volume differs from your main volume. It's like the volume slider in YouTube videos, and I don't think we can map that to media keys.

[2018-01-05 00:46] fcastilloec commented on #109
Like @m1guelpf said, this is not possible. The volume of Headset is separate (but still related) to the main volume.
You can control the volume of Headset using `dbus` and you can map that command to a shortcut. Headset uses `MPRIS` so it's easy to send a command to change the volume or control any other aspects of Headset.
You could also use [playerctl](https://github.com/acrisci/playerctl) which

[2018-01-05 00:46] #109 closed

[2018-01-05 00:51] danielravina commented on #109
Technically it's possible to send keyboard volume events to the core app, and it will then respond with `volumeChange` event which will update the embedded youtube player.
but, as @fcastilloec said, we are already utilizing MPRIS which is good enough and you can customize it to your needs.

[2018-01-05 22:17] reddo opened #110 "Collection overwritten"
I use Headset both on Windows and Mac. My collection got overwritten when I've added some songs on the Mac (the collection was created in Windows, if that helps). I'm logged in on both platforms.

[2018-01-06 04:05] danielravina commented on #110
Are you using both simultaneously? The synching mechanism will always override, there is no merging in the db and the backend doesn't send updates the client based on changes. It's not designed to work that way. In order to keep it in sync, you'll need to restart the windows app

[2018-01-06 04:16] danielravina commented on #91
closing for now as a `wontfix` until further notices.

[2018-01-06 04:16] #91 closed

[2018-01-06 06:10] reddo commented on #110
No, not simultaneously, the windows app was not running while the mac one was and viceversa, the pc wasn't even on.

[2018-01-06 08:06] danielravina commented on #110
hmm ok that's weird then. can you send the login email to hello@headsetapp.co and I'll investigate further? thanks.

[2018-01-06 08:10] reddo commented on #110
I've added songs to that collection since. Is that a problem?

[2018-01-06 08:31] danielravina commented on #110
shouldn't be a problem.

[2018-01-09 03:50] danielravina opened #111 "Minimize to Tray"
### Description

Allow launching and minimizing Headset from the tray icon. It is possible to do via https://github.com/electron/electron/blob/master/docs/api/tray.md

[2018-01-09 03:56] fcastilloec commented on #111
This shouldn't be implemented for Linux, the system tray has been phased out, so no minimizing to tray anymore.

[2018-01-09 10:40] karlos1841 opened #112 "Problem: nothing provides dbus needed by headset-1.6.4-1.x86_64 on openSUSE"
### Description
During package installation on a full-featured desktop environment, the following error occurs:

 Problem: nothing provides dbus needed by headset-1.6.4-1.x86_64
 Solution 1: do not install headset-1.6.4-1.x86_64
 Solution 2: break headset-1.6.4-1.x86_64 by ignoring some of its dependencies

### Expected behaviour
The package should be installed without issues.
On openSUSE it is ca

[2018-01-09 19:17] fcastilloec commented on #112
Thanks for letting me know that. We don't test on openSUSE and that's why we didn't found this bug earlier.
It's a simple fix, let me try something and I'll send you an installer to try.

[2018-01-09 21:24] fcastilloec commented on #112
@karlos1841 can you test if this package installs on your system? [headset-1.6.4.x86_64.rpm](https://drive.google.com/open?id=1PTmN6KC_8OFJPBTzyQcjifQAOGKRVauK)
If it works, feel free to keep using it, since it would have added the repo automatically and you'll receive the new version with the same fix.

[2018-01-09 23:52] fcastilloec commented on #112
So, it seems that we won't be able to support OpenSUSE for the moment. I'm posting a new link [here](https://www.dropbox.com/s/2b8p97kkjdyqr42/headset-1.6.4.x86_64.rpm?dl=0) that will work on openSUSE but we won't be able to fix this in the near future. We need to manually rebuild just for openSUSE for every release.
The problem is that all `rpm` based distros use the same name for `dbus` except f

[2018-01-09 23:53] #112 closed

[2018-01-10 00:03] fcastilloec commented on #68
@danielravina Should we close this issue because #111 was open and it's just a duplicate of this one.

[2018-01-10 01:28] danielravina commented on #68
yep! it's better to handle windows and mac in one go. Thanks

[2018-01-10 01:28] #68 closed

[2018-01-14 13:19] cyra commented on #77
I double thumbs up this, was gonna open an issue for this. Would be really helpful if users could pin/save/favourite a youtube channel or a subreddit.

[2018-01-14 19:40] danielravina commented on #77
A UX question: Would you rather see your saved subreddits on the radio tab or somewhere in your saved collections tab? I got this feature pretty much ready to go, just not sure yet where to place it exactly.

[2018-01-14 19:45] m1guelpf commented on #77
@danielravina I'd expect them to be pinned to the top of the radio tab, in a section before the All Music one.

[2018-01-17 14:32] rajat-np opened #114 "Warning in case of no internet"
### Description

When there is no internet connection, the headset loads with a white screen with no warnings.

### Expected behaviour

There should be retry button to load again after connecting to internet.

I am using the latest version from the debian repo.
OS : Ubuntu 16.04

[2018-01-17 16:44] danielravina commented on #77
The feature is ready! you'll see it the next time you open the app

Have fun

[2018-01-17 16:44] #77 closed

[2018-01-19 14:45] axydavid opened #116 "[FEATURE] Include the original youtube player to circumvent having 2 windows"
### Description

The youtube policy is annoying however I feel that the current solution of having 2 windows is not a great one. Why not just including the original embedded player instead of the one that's provided now?
It's possible to just draw some text/buttons over the html5 player.

### Expected behaviour

The original player should appear instead and have some buttons/text over it.

### Act

[2018-01-19 14:48] axydavid commented on #111
+1 for this.
Maybe not relevant for certain linux distros/mac.
But this would be a very welcomed feature in windows.

[2018-01-19 15:40] danielravina commented on #116
Hi! Does this help? https://github.com/headsetapp/headset-electron/issues/91

[2018-01-19 15:44] danielravina commented on #116
Hi! Does this help? https://github.com/headsetapp/headset-electron/issues/91
Specifically https://github.com/headsetapp/headset-electron/issues/91#issuecomment-350591438

That being said, if you can think of a better alternative, I would love to hear it! I'm not crazy about this approach either (it also makes it technically harder) but that's the best I could come up with.

[2018-01-19 17:06] fcastilloec commented on #116
Closing the issue since it's a duplicate of #91 and there's no fix for this in the near future.

[2018-01-19 17:06] #116 closed

[2018-01-19 17:09] #9 closed

[2018-01-20 18:52] axydavid commented on #116
Ah,
I see allright then.

[2018-02-05 18:32] danielravina opened #118 "Add Options to disable notifications"
### Description
Some users really don't like the notifications popping up when tracks are playing. It's better to add a setting item under user profile with a toggle to disable them. There are ways to disable them via the OS, but it's not the best user experience.

### Workarounds
On windows:
![dtee6cnumaaiqwd jpg-large](https://user-images.githubusercontent.com/3150871/35822012-b10d5fe8-0a5f-11e8

[2018-02-05 18:35] fcastilloec commented on #118
On Linux, notifications are controlled by the app. So there's no way to disable them unless is implemented in Headset itself

[2018-02-05 18:52] danielravina commented on #118
Thanks. updated the description

[2018-02-05 18:54] reddo commented on #110
Looks like it's working fine now or it was a one-off issue. Thanks for the help and for following up with me!

[2018-02-05 18:54] #110 closed

[2018-02-28 04:31] PixelyIon opened #124 "Potentially adding headset to Chocolatey"
I was wondering if you guys could potentially add headset to Chocolatey(https://chocolatey.org/) so it'd be convienient to install for Windows users aswell..
Incase you don't know about Chocolatey it's basically a open-source package manager for windows so pretty similar to something like aptitude but for windows..

[2018-02-28 18:36] danielravina commented on #124
I wouldn't mind adding that to chocolatey! Just don't have much time at the moment. If you want to open a PR and add it to the travis ci script, let me know! I'll sign up and provide the api key

[2018-03-01 05:17] fcastilloec commented on #78
Fixed with release [v1.7.0](https://github.com/headsetapp/headset-electron/releases/tag/v1.7.0)

[2018-03-01 05:17] #78 closed

[2018-03-01 05:23] fcastilloec commented on #94
I'm closing this issue as it's over two months and we never heard back from the original author

[2018-03-01 05:23] #94 closed

[2018-03-01 06:13] danielravina commented on #3
Closing. issue been lingering for too long. Headset will not support proxies officially.

[2018-03-01 06:13] #3 closed

[2018-03-02 14:57] PixelyIon commented on #124
I'll look into it then ;)

[2018-03-06 09:41] PixelyIon commented on #124
A small update I've looked into creating a package for chocolatey and most likely will be able to make one and integrate it into appveyor although it might take quite a bit of time as I'm busy studying for my exams..

[2018-03-06 10:01] beevabeeva opened #126 "Cannot use if using a proxy!"
### Description

![screenshot from 2018-03-06 11-42-04](https://user-images.githubusercontent.com/19332617/37025092-b259a062-2122-11e8-88da-bcead5e9d6ef.png)

### Expected behaviour

There should be an option to enter proxy details and use it
or inherit the system-wide proxy settings automatically

### Actual behaviour

![screenshot from 2018-03-06 11-42-04](https://user-images.githubusercontent.c

[2018-03-06 18:31] rajat-np commented on #126
Possible duplicate of #3 . Please head over to this issue and see if it helps you because for now headset does not support proxies.

[2018-03-09 06:51] fcastilloec commented on #126
As @rajat-np , this is a duplicate of #3

[2018-03-09 06:51] #126 closed

[2018-03-10 23:15] curtisy1 opened #129 "Installation fails"
### Description

The installation fails on my Windows 10 machine. I'm guessing it has something to do with already having a file with Releases in ./Githubdesktop?

I can still play music afterwards though, even when ignoring the error

### Expected behaviour

The installation should run through smoothly

### Actual behaviour

See description

### Your Environment

- Windows 10
- v1.7.0 ( pasting f

[2018-03-10 23:26] danielravina commented on #129
did you modify your os datetime? the dates in the log are all over the place
2017-08-13 - 2018-03-11

[2018-03-10 23:31] fcastilloec commented on #129
I can replicate this on Windows 7 and 8. I'll try to debug it this weekend and see what I can come up with

[2018-03-10 23:33] curtisy1 commented on #129
Yeah, that's probably a squirrel related issue, because it fails to write to Release in my case (I think?). OS date is correct though.

I'll also poke around a little more and see if I can find a fix myself.

Thanks for the quick answers by the way! Appreciate it

[2018-03-10 23:36] danielravina commented on #129
I got this window right before the error message. did you see something similar?
<img width="1440" alt="screen shot 2018-03-10 at 3 35 29 pm" src="https://user-images.githubusercontent.com/3150871/37247921-c743d700-2478-11e8-9be6-f5b25430cd61.png">

[2018-03-10 23:39] fcastilloec commented on #129
I get the same thing, "Update has stopped working"

[2018-03-10 23:41] danielravina commented on #129
I tried [v1.6.4](https://github.com/headsetapp/headset-electron/releases/tag/v1.6.4) and I don't see this error so it must be a problem with 1.7.0

[2018-03-10 23:45] curtisy1 commented on #129
I get an "update has stopped working" on 1.6.4 as well, but the large screen isn't appearing. Same error message in log.

[2018-03-10 23:54] curtisy1 commented on #129
Could it be that this issue is unrelated to headset? I decompiled the Squirrel update.exe and it's crashing internally (see screenshot), so maybe it's best to submit an issue on the squirrel repo since we all get the same error?
![squirrel_updater](https://user-images.githubusercontent.com/23632152/37248025-af153d10-24c6-11e8-96dd-bef09b8ea3a9.PNG)

[2018-03-11 01:11] danielravina commented on #129
I don't even know what to ask this is so obnoxious. I'm not sure why every other version works for me without a problem

[2018-03-11 03:21] fcastilloec commented on #129
I think this has to do with the fact that we are checking for an update on installation. I decided to uninstall Headset, delete all the AppData related to Squirrel and Headset, and any temp and log files and now this is what I'm getting when trying to install under Windows 7: [headset.log](https://github.com/headsetapp/headset-electron/files/1800001/headset.log)

[2018-03-12 03:52] danielravina commented on #129
we just merged #130 to address this issue. Thanks @fcastilloec for putting the time to research and trying out different solutions!

[2018-03-12 03:52] #129 closed

[2018-03-17 11:35] curtisy1 commented on #129
Working! Thank you!

[2018-03-19 16:14] e-orlov opened #131 "Search by ID"
### Is it a bug or is this feature just not yet implemented?

I'm trying to search a certain playlist by its ID from the youtube url, but fail on this - Headset is never ending the search.

If this isn't implemented yet - please make it with high prio:) It could be pretty tricky to find a playlist, specially if it has a common title, like `reggae sets`. With search by ID it would be a nobrainer.

[2018-03-19 16:30] danielravina commented on #131
You can search playlist if you remove the `v=...` from the ur or only use the ID
e.g
👍PL3WxO0HXyeYvTHDKY-kNDCnLjn1DTEtT6
👍https://www.youtube.com/watch?list=PL3WxO0HXyeYvTHDKY-kNDCnLjn1DTEtT6
👎https://www.youtube.com/watch?v=LSzjbJLpVbM&list=PL3WxO0HXyeYvTHDKY-kNDCnLjn1DTEtT6

Hope that helps solve your problem?

[2018-03-19 20:13] #114 closed

[2018-03-23 11:01] Mebus opened #135 "Volume is always being set to zero after play/pause"
![screenshot_20180323_115941](https://user-images.githubusercontent.com/271557/37825900-b497123e-2e91-11e8-89a9-d42a05301444.png)

After hitting pause and play the volume of the headset app is always being set to zero. I am using Fedora 27 with KDE. The volume should not be affected by play/pause. My Heaset Version is 1.7.0.

I attached a screenshot of the volume control panel.

Thank you for the

[2018-03-23 13:23] tonyemiliano opened #136 "App does not work through proxy"
### Description

We use the headset app at work. We have here an proxy firewall configured thats block headset app.

### Expected behaviour

I need setup proxy settings on headset app. The configuration of proxy is authenticated, so is not possible bypass the headsetapp domains.

### Actual behaviour

Today every time we access headsetapp trought proxy an message error is showing in both windows

[2018-03-23 15:35] danielravina commented on #69
Fix is added in core `1.7.3`!

[2018-03-23 19:38] Mebus commented on #135
Hi!

It says: "Version: Core: 1.7.4, Wrapper: v1.7.0". It's the default KDE volume controller. I am pressing the buttons directly inside the App. There is no such key on my keyboard.

Mebus

[2018-03-23 23:11] fcastilloec commented on #135
Hey Mebus, I'm sorry but I can't reproduce this. I just install Fedora 27 with KDE, updated all packages to their latest version and installed Headset and tried pausing it in every way possible and nothing.
This seems to be a bug with your specific configuration. Also, when using Headset you can see the name of the app itself on the volume controller but your image doesn't.
I would suggest reinsta

[2018-04-09 20:28] FelixVicis opened #140 "Playlist with repeat all on will not continue to next track"
### Description

When listening to a playlist with `Repeat All` on, playlist stops at the end of the first track listened to.

### Expected behaviour

Playlist should play through all tracks, cycling back to the first track at the end of the last.

### Actual behaviour

At the end of the first track listened to (does not matter what position in the playlist the track is at),
the song will pause at

[2018-04-09 20:33] fcastilloec commented on #140
I can confirm this bug. It seems that the songs stops one second before it's finished. In the previous screenshot, you can see it's stuck at `2:30` and the length of the song is `2:31`

[2018-04-09 21:09] danielravina commented on #140
Thanks for reporting!
bug fixed in Core: 1.8.2

Restart the app to get those changes.

[2018-04-09 21:09] #140 closed

[2018-04-09 22:16] FelixVicis commented on #140
Awesome work @fcastilloec and @danielravina!
Love the fast response.

[2018-04-12 07:12] zulhfreelancer opened #149 "App doesn't work with CloudFlare DNS"
### Description

I'm using CloudFlare `1.1.1.1` DNS and it's not working. When I switch back to Google `8.8.8.8` DNS, it works fine.

### Expected behaviour

It should work with CloudFlare DNS too.

### Actual behaviour

[https://twitter.com/zulhhandyplast/status/982195644562468865](https://twitter.com/zulhhandyplast/status/982195644562468865)

### Your Environment

- Mac OSX 10.12.6
- Headset 1.8

[2018-04-12 08:33] fcastilloec commented on #149
I can't reproduce this. What OS are you using? from the screenshot, it looks like OSX.
This might be something related to your OS and not Headset itself. Here's a screenshot in Linux with the DNS you mentioned.

![selection_003](https://user-images.githubusercontent.com/1280530/38665451-6e8c6ba8-3e0a-11e8-9796-599c60ffd290.png)

[2018-04-12 17:23] jorgerc85 opened #151 "Multimedia keys not working + Can't see wrapper version"
Hi, I searched through the issues and found that multimedia keys should be working but for some reason they don't on my machine. Multimedia keys work normally on other apps.

I am running Ubuntu 16.04 and latest version of Headset available on github. (Core: 1.8.2, Wrapper: ) This is the other issue. For some reason I can't see the wrapper version. Could this be at all related to my issue?
![image

[2018-04-12 17:45] fcastilloec commented on #151
Hi, I'm going to need some more info from you to be able to help. First, I think that the Wrapper issue might be easy to fix. This could have happened if the app was open when an update was issued, and some old cache files stayed in the system. Can you please delete the folder `$HOME/.config/Headset`. This will reset your app and will ask you to sign in. You won't lose any of your Collections/Like

[2018-04-12 18:04] jorgerc85 commented on #151
Thanks for the fast reply. The version issue was fixed after deleting the config folder (My current versions: Core: 1.8.2, Wrapper: v1.8.1).

Multimedia keys still don't work though. The output from running the command:
[code]

[2018-04-12 18:08] fcastilloec commented on #151
@jorgerc85 I'm going to need to know more details. Can you please start headset with `DEBUG=headset* headset` Start playing one song, and then try to pause it using the media keys. Don't press other media keys, just trying to pause it. Feel free to press it a couple of times if necessary. Then paste the output here.

[2018-04-12 18:24] jorgerc85 commented on #151
Here you go. I pressed pause for a while and nothing happened. I paused the song manually at the very end.
[code]

[2018-04-12 18:33] jorgerc85 commented on #151
I think I found the cause of this issue. It's not related to Headset.

The machine I'm using has custom assigned multimedia keys. For example:
"Play/Pause" binds to this command:
`dbus-send --print-reply --dest=org.mpris.MediaPlayer2.spotify /org/mpris/MediaPlayer2 org.mpris.MediaPlayer2.Player.PlayPause`

I'm sorry I wasted your time trying to find a solution for this issue. I'll try to get this

[2018-04-12 18:34] #151 closed

[2018-04-16 15:58] danielravina commented on #124
The app is on Chocolaty! https://chocolatey.org/packages/headset Thanks @fcastilloec for making this happen and @PixelyIon for making the suggestion!

[2018-04-16 15:58] #124 closed

[2018-04-16 15:59] danielravina commented on #135
For the lack of response and ability to reproduce, I will close this issue now. @Mebus feel free to reopen at any time

[2018-04-16 15:59] #135 closed

[2018-04-16 16:00] danielravina commented on #149
@zulhfreelancer can this be a different cause?

[2018-04-16 16:01] danielravina commented on #131
@e-orlov I will close this issue now, feel free to reopen if the solutions above are not working for you. Thanks!

[2018-04-16 16:01] #131 closed

[2018-04-18 05:56] chevi opened #153 "Pausing player-window will play next song after 10 seconds"
### Description
Run playing some video
Click on video to pause it

### Expected behaviour
Video is still paused

### Actual behaviour
after 10 seconds next video will be played

### Your Environment

- What OS are you using?
Ubuntu 16.04
- What version of Headset? (copy and paste from the user profile page if possible)
core 1.8.2 Wrapper 1.8.1

### Screenshots

[2018-04-18 15:26] danielravina commented on #153
Hi thanks for reporting. This is one of those features that became a bug. this is done to "auto-skip" videos that are not available. the embedded player has no way to indicate that so the workaround is to wait a bit and if you are on a "play" state and time is not changing, the video is probably not available..

It becomes a bug when users want to pause the video through the player which I admit h

[2018-04-25 02:36] danielravina commented on #118
Feature added in Core 1.8.3 🎉

[2018-04-25 02:36] #118 closed

[2018-05-02 09:15] topr opened #157 "Play from SoundCloud"
Let's start with a huge kudos for your work.
The player is a great idea and the implementation rocks.
I really appreciate and enjoy using it :+1:

I see a really annoying think happening on YouTube itself.
Quite often a decent piece of music, usually a mix or set, is being removed due to some silly copy-crap claims BS.
So frustrating, luckily though quite common is the exact same piece is availabl

[2018-05-02 19:39] danielravina commented on #157
Soundcloud was always on my mind from the very beginning. I tried to implement it about a year ago but it never saw the light of day. The problem was that when I searched, the results were just horrific. low quality and distorted pieces of (not music). Since then, I kept focussing on youtube content only.

However, I can give it another shot and try to integrate SoundCloud again. That will be a gr

[2018-05-17 23:55] #111 closed

[2018-05-17 23:55] fcastilloec commented on #111
This is available in `v1.9.0`

[2018-05-18 04:01] fcastilloec commented on #136
This is a duplicate of #3 and #126

[2018-05-18 04:01] #136 closed

[2018-05-20 08:11] abZameen opened #162 "Email confirmation issue"
### Description

My email is not confirmed so I am asked to confirm the email by a notification bar at the bottom of the app. When I click on it a popup is opened with a message saying email is sent and a textfield where I can enter the code received in the email.

### Expected behaviour

I should get an email with activation code which on entering in the popup's textfield will confirm my email an

[2018-05-20 18:08] danielravina commented on #162
The resend code is indeed a bug. I just fixed it (updated in core 1.9.2)

For the email issue, I'll need to look into it. do you mind sending your email to hello@headsetapp.co and we can continue the discussion there?

Thanks!

[2018-05-20 18:08] #162 closed

[2018-05-24 08:02] moyaldror opened #163 "Unexpected behavior when using mouse wheel button"
Hi, First I must say - I love this app :)

The issues I encountered are all related to the use of the wheel button.

1. When using the wheel button on any submenu under the `Radio` menu will cause a new window to get opened (with the correct content - for example clicking on  **/r/dubstep** will open  **/r/dubstep**) with double the size of the player where the left side is the player and the righ

[2018-05-24 11:32] espilsad opened #164 "Scale preview window"
Is it possible to scale the video player automatically to the size of the window?
<img width="1055" alt="screenshot 2018-05-24 13 31 35" src="https://user-images.githubusercontent.com/17473295/40482996-d17d65e2-5f56-11e8-838c-6045e149ca53.png">

[2018-05-24 17:00] danielravina commented on #164
you know what, I always assumed it's not possible but never actually checked it out. So I did check it out, and made a fix here #166

You'll see it shortly.

[2018-05-24 17:00] #164 closed

[2018-05-24 18:15] fcastilloec commented on #163
I can confirm this bug, and it affects all OSs

[2018-05-24 19:06] danielravina commented on #163
Thanks for reporting! The bug is fixed in core 2.0.7 (reopen the app and it won't happen again)

@moyaldror quick question - Are you typically using the middle mouse button to click on things? The fix I added was to disable the middle button altogether. There is a way thought to route the middle click to the left mouse click but I'm not sure if that's the intuitive way to do it.

I'm a mac user wi

[2018-05-24 19:07] #163 closed

[2018-05-26 15:48] moyaldror commented on #163
@danielravina  Hi, thanks for the quick fix!
And regarding your question - yes I use the middle mouse button a lot!
Every time I see a link - this is my weapon of choice :)

I think that disabling it is a good enough solution as using left click will open a new window (which is what i intended to do in the first place).

[2018-06-05 07:06] M1lkshake opened #170 "pro"
why did you limit the number of skips
if you kept that unlimited for all but still added the extra pro features i wouldn't have switched to spotify oof

[2018-06-05 15:21] danielravina commented on #170
Thanks for the feedback. I respect your decision as I knew not everyone would stick on after this change.

Consider this though:
- Compare to the free Spotify, Headset has doubled the number of skips and doesn't show you ads;
- Headset Pro is 5 times cheaper than Spotify

🤷‍♂️

[2018-06-05 15:21] #170 closed

[2018-06-05 20:46] PiotrKrzyzek opened #171 "Option to not include live broadcasts / streams on auto generated playlist"
### Description

When playing a random playlist (such as a playlist generated from 'play songs similar to this'), live youtube broadcasts are included in this list. Would be nice to have an option either per account or playlist to skip live broadcasts. Or maybe simply: allow them to play if someone selects is specifically but otherwise they aren't included in the auto generated playlists.

[2018-06-06 00:15] Radu-Raicea commented on #157
@danielravina
How low of a quality are we talking?

[2018-06-07 06:12] kaustubhhiware opened #175 "Back button to go to previous search results"
### Description
It should be possible to just go back in the search tab to the previous search results, like in the website.

### Expected behaviour
Addition of back button in search tab.

### Actual behaviour
NA
### Your Environment

- What OS are you using?
Universal (Used on Windows, Arch Linux both)

- What version of Headset? (copy and paste from the user profile page if possible)
Core: 2.0.1

[2018-06-08 14:51] ccegeadamcc opened #177 "Android port"
Add an android port for Headset pls. I'm big fan of you guys, and I want to see Headset on my mobile device

[2018-06-13 01:54] danielravina commented on #177
Thanks for the feedback. An Android app would be good if we could keep the music playing in the background while the screen is off. unfortunately, this goes against Youtube's terms of service so getting there won't be simple.

[2018-06-27 08:13] SDVII opened #180 "Headset 2.0.0 Stuck at Loading"
### Description

Every time I try to launch the app recently, it's stuck at the loading screen. I tired restarting it and reinstalling it, but to no avail.

### Expected behavior

The app would load.

### Actual behaviour

The app is stuck at the loading screen.

### Environment

- Windows 10 Home 64 bit
- Headset 2.0.0

### Screenshot

![screenshot_1](https://user-images.githubusercontent.com/104

[2018-06-27 14:49] sbernard31 commented on #170
Spotify remunerates artists.
Spotify has its own backend to maintain to store and stream musics.

It sounds like comparing apples and oranges ...

[2018-06-27 16:52] fcastilloec commented on #180
I tried to reproduce this but out of 20+ times, it happened only twice. I believe this might be due to network connection and not an error from our side.
You can also try deleting the configuration files, this might help to reload the app without having to reinstall. On Windows, you'll have to delete the folder `C:\Users\{yourUserName}\AppData\Roaming\Headset`. Do this while Headset is close and t

[2018-06-27 17:04] ronilaukkarinen opened #181 "Can't activate Last.fm - loading forever"
### Description

Trying to activate Last.fm by clicking "Connect", but after allowing it to connect, it gets back to Headset and loads up forever.

### Expected behaviour

It should activate/connect Last.fm.

### Actual behaviour

Loading forever.

### Your Environment

- What OS are you using?

macOS Sierra, 10.12.6

- What version of Headset? (copy and paste from the user profile page if possibl

[2018-06-27 17:09] ronilaukkarinen commented on #181
![](https://rolle.design/headsetapp-5.png "Screenshot")

[2018-06-27 17:17] danielravina commented on #181
Thanks so much for reporting this. The problem is fixed now (core 2.0.14), might need to refresh your cache in the dev tools :)

[2018-06-27 18:59] ronilaukkarinen commented on #181
Confirmed working, thanks!

[2018-06-27 18:59] #181 closed

[2018-06-27 19:08] fcastilloec commented on #180
@SDVII There was another issuer reported that might have been affecting you (#181). Can you reload the app and see if that might have fixed your issue?

[2018-06-28 08:33] ronilaukkarinen opened #182 "Black and white icon on macOS menubar"
### Description

The icon is colored but it would be better as black and white to match macOS guidelines.

### Expected behaviour

The icon should be black and white on menubar.

### Actual behaviour

The icon is colored on menubar.

### Your Environment

- What OS are you using?

macOS Sierra, 10.12.6

- What version of Headset? (copy and paste from the user profile page if possible)

Core: 2.0.1

[2018-07-10 08:50] violentswami opened #183 "Cannot access main window"
### Description

After installing the application only the player window is opening, the main navigation window will show up in available windows but clicking it does nothing

### Expected behaviour

Clicking the window should make it appear / it should appear after launching the application

### Actual behaviour

The window does not appear anywhere on the screen after being clicked, nor does the

[2018-07-10 22:13] danielravina commented on #183
Sorry, I wasn't able to reproduce your issue on Win 10. We just released a new Windows build https://github.com/headsetapp/headset-electron/releases/tag/v2.0.1 which downgraded electron due to this issue https://github.com/electron/electron/issues/13043 please check if it _may_ possibly fix your problem

[2018-07-11 10:38] violentswami commented on #183
Hi Daniel,

Thanks for the response, unfortunately this han't fixed the issue, two more pieces of information that may be of note:

- I'm using a PC at work (however I have admin install rights), this was not an issue with my older work PC running windows 7
- I get the following message before attempting to install the program:
![error](https://user-images.githubusercontent.com/41050483/42566538-d

[2018-07-11 10:50] #183 closed

[2018-07-18 11:09] lichingchester opened #188 "return [object Object] after payment (start your 30 days trial)"
### Description

as the title

### Expected behaviour

display text

### Actual behaviour

<div style="background: red">[object Object]</div>

### Your Environment

- macOS High Sierra (version 10.13.5)
- Version: Core: 2.0.14, wrapper: v2.0.1

### Screenshots

![screen shot 2018-07-18 at 7 08 44 pm](https://user-images.githubusercontent.com/23126132/42878000-1ae4fbcc-8abe-11e8-9917-981a5170d3a2.p

[2018-07-18 16:05] danielravina commented on #188
Thanks for reporting this! Do you happen to remember what field was wrong/missing when you go that?

[2018-08-01 06:42] SDVII commented on #180
@fcastilloec Thanks for the reply, and sorry about the late response.

I am afraid that deleting the folder didn't change anything, and the only way I managed to run it again was to reinstall the application.

The issue is that this occurs often and randomly enough for it to be a bit of an inconvenience (it would've been OK if it's only after updates or something).

With that being said, I really

[2018-08-01 14:21] #180 closed

[2018-08-04 21:34] FelixVicis opened #189 "Likes have reset to 0"
### Description

Opened up the app and I have no more likes. Previously had 30 or so songs 'liked' and now there are none.

### Expected behaviour

Likes should persist.

### Actual behaviour

There are no likes
![image](https://user-images.githubusercontent.com/6580094/43680617-4332acae-97f3-11e8-94a5-396fd30a918a.png)

### Your Environment

- OS: Ubuntu 16.04
- Core: 2.1.0, wrapper: v2.0.0

###

[2018-08-04 21:38] danielravina commented on #189
@FelixVicis can you let me know your account email? please send it to daniel@headsetapp.co.

[2018-08-05 17:38] SDVII opened #190 "Liking a song in album mode makes all songs in album liked."
### Description

Liking a song in album mode makes all songs in album liked.

### Expected behaviour

Only the liked song should be considered liked.

### Actual behaviour

All songs in the album are liked.

### Your Environment

- Windows 10 Ultimate
- Core: 2.1.0, wrapper: v1.7.0

### Screenshots

![screenshot_1](https://user-images.githubusercontent.com/10416702/43688339-61becf2a-98ef-11e8-9d2b

[2018-08-06 04:40] danielravina commented on #189
Sorted it out with @FelixVicis. Due to high usage, the limit on reads was reached. I increased the read capacity of the DynamoDb instance. After restart, the likes were back.

[2018-08-06 04:40] #189 closed

[2018-08-06 18:44] danielravina commented on #190
Hey thanks for raising the issue!

I agree with you that this is an issue but the solution for it is not that simple to implement since the song is technically a part of a song. I'll work on trying to find a way around it so only the part will be added to the likes.

[2018-08-06 19:14] SDVII commented on #190
Thanks for the response.

I am out of my depth here, but maybe you can use timestamps for that.
I am also assuming you are using Youtube's API so running and stopping a video at a certain time shouldn't be too difficult. So, maybe you can keep the song as an object with both start and end times.

Excuse me if I am oversimplifying the issue, I wish you the best of luck!

[2018-08-06 21:31] danielravina commented on #190
Thanks for the suggestions! It is indeed a little bit more complex than that as there are edge cases and events that the app needs to keep track of when playing, skipping and saving songs. Won't get too much into the details but there's an object representing a (normal) song. and an object representing an album song. The only difference between them is an attribute on the album song that indicates

[2018-08-21 16:09] universvm opened #191 ""An error occurred" when launching Headset"
### Description

I just downloaded Headset from the official website. Two windows open, one with a youtube play button and the other with the headset logo animation. When pressing on the youtube video, it returns "**An error occurred. Please try again later. (Playback ID: _Gu1hb4j3-mI9zBt)**" and the other window with the headset animation just keeps loading.

### Expected behaviour

Should load t

[2018-08-21 16:26] danielravina commented on #191
Ok glad you solved it! The error on the player is sort of expected but a bit confusing.

[2018-08-25 17:21] kcnickerson opened #192 "Offer a Yearly Plan"
### Description

Yearly pricing plan for Pro.

### Expected behaviour

I should be able to pay $19.99 up front for an annual plan.

### Actual behaviour

My credit card gets "littered" with $1.99 purchases per month.

### Your Environment

Ubuntu / Latest
Headset / Latest (Free)

### Screenshots

N/A

[2018-08-27 05:13] danielravina commented on #192
Hi @kcnickerson,

Luckily, we were just in the midst of a yearly plan rollout and with that, making some changes in the pricing.
Current prices are as follows:
$2/month - billed $24 yearly
$3/month - billed month-to-month

This is to encourage more people to have a yearly subscription and avoid littered purchases.

As of now, you can subscribe to a yearly plan through the app

Thank you very much

[2018-08-27 05:13] #192 closed

[2018-08-30 15:42] goschevski opened #193 "Hotkeys"
App looks and works great, but for me it's unusable since it doesn't have keyboard hotkeys.

It would be cool if I could focus search bar by using `/` or `cmd+l`, scrolling through the results by using `j` and `k`, playing selected song by using `Enter`, etc.

This is not an issue, but feature request.
Hope I helped.

[2018-09-06 08:43] kurayamiyousei opened #196 "Update 2.0.2 breaks javascript"
When trying to run the new updated version from 2.0.1 to 2.0.2 it causes the following error;

Uncaught Exception:
TypeError: Cannot read property 'startsWith' of undefined
   at Object.<anonymous>
(C:\Users\name\AppData\Local\headset\app-2.0.2\resources\app.asar\lib\headsetTray.js:8:3
   at Object.<anonymous>
(C:\Users\name\AppData\Local\headset\app-2.0.2\resources\app.asar\lib\headsetTray.js:49:

[2018-09-06 17:05] danielravina commented on #196
The error has been fixed on https://github.com/headsetapp/headset-electron/releases/tag/v2.0.3

Unfortunatelly, you'll have to re download it to work as the error prevents the auto update from running

[2018-09-06 17:05] #196 closed

[2018-10-06 11:12] kyn4n commented on #157
I would love to have SoundCloud integration, would make this app pretty much unstoppable!~ keep up the great work!

[2018-10-11 17:16] #10 closed

[2018-10-11 18:05] fcastilloec commented on #153
This issues is fixed in #198

[2018-10-11 18:05] #153 closed

[2018-10-12 05:12] danielravina commented on #2
We support Spanish! 🇪🇸

[2018-10-12 05:12] #2 closed

[2018-10-12 05:15] fcastilloec commented on #2
@roadrunner if you want to help translating the app into Turkish, check [headset-locales](https://github.com/headsetapp/headset-locales)
We're in the process of adding documentation so it'll be easier for anybody to contribute, you can check the [fixes](https://github.com/headsetapp/headset-locales/tree/fixes) branch which is almost done and has the necessary information for you to start helping.

[2018-10-27 19:17] mattt commented on #182
Here's a PDF containing a monochrome icon suitable to replace the existing menubar icon:

[headset-menubar-icon.pdf](https://github.com/headsetapp/headset-electron/files/2522132/headset-menubar-icon.pdf)

I'm unable to find guidance about menu bar icons in Apple's official documentation, but I believe that a PDF like this should work. If not, here's a 20x20 px PNG file that can be used instead:

!

[2018-10-27 19:45] fcastilloec commented on #182
@mattt Thanks for the pdf, it looks great!

Right now the only guide to icons is [this site](https://developer.apple.com/design/human-interface-guidelines/macos/icons-and-images/image-size-and-resolution/).
We are currently using 3 icons, each for different pixel densities. We need a `64x64px`, `32x32px` and `16x16px`, all are `png`.
You can check them out in [`darwin/icons`](https://github.com/he

[2018-11-05 15:52] woohoou opened #206 "Play/Pause, Rewind, Fast forward buttons not working on macOS Mojave"
### Description

After upgrade to mojave in mac os the buttons Play/Pause, Rewind, Fast forward stop working.

### Expected behaviour

Should work as expected.

### Actual behaviour

The buttons work on itunes.

### Your Environment

- macOS Mojave 10.14 (18A391)
- Core: 2.1.15, wrapper: v2.0.5

### Screenshot

N/A

[2018-11-05 17:09] danielravina commented on #206
Thanks for reporting this! Mojave now requires apps to explicitly grant permission to use media keys. From your system settings, go to privacy & security, find Headset in the accessibility tab and mark it.

![dpmwfuau0aeqdro](https://user-images.githubusercontent.com/3150871/48013993-842f8800-e0da-11e8-8b68-93a40142f269.png)

[2018-11-06 14:02] woohoou commented on #206
It work, thanks!.

[2018-11-06 14:02] #206 closed

[2018-11-14 12:46] waldyrious commented on #206
Adding this note in case this helps others: I had granted the accessibility permissions to the Headset app, but still, whenever I used the media keys, iTunes opened instead. After restarting the Headset app, it now works as expected. So I guess after granting the permissions, the app needs to be restarted.

[2018-11-21 00:28] asddsaz opened #208 "[Question] How much of this if Free Software?"
**Question**: Just how much of Headset is [Free Software/FLOSS](https://en.wikipedia.org/wiki/Free_software)? Is any of it fully [proprietary/closed source](https://en.wikipedia.org/wiki/Proprietary_software)? If so what portion?

Does Headset still have to execute proprietary JS[1](https://www.gnu.org/philosophy/javascript-trap.html)?

[2018-11-21 19:19] fcastilloec commented on #208
Headset has two parts for it to work,  you probably have seen them under your Profile page. The first is the `wrapper`, which is what this repository is about. The `wrapper` is open-source, anybody can do whatever they want with the code, and many people have contributed to it. The code is govern under a MIT license that you can find on the root of the repository.

The second part is the `core`, w

[2018-11-21 19:19] #208 closed

[2018-12-04 15:57] koloda opened #210 "Address boundary error"
### Description

Just not works after inistall

### Expected behaviour
Shows system error without any details wheb run vis shortcut, and nex message when run via cmd

$ headset
'headset' terminated by signal SIGSEGV (Address boundary error)

---
Kubuntu 18.10
Last version of Headset, downloaded today on offsite

[2018-12-05 01:15] fcastilloec commented on #210
Thanks for reporting this. It seems that the bug is with `electron` itself, there is a fix and we'll be releasing a new version soon.

[2018-12-05 04:42] fcastilloec commented on #210
@koloda can you try the latest release (v2.1.0) and see if the error is gone?

[2018-12-11 16:48] Skayo opened #212 "Error when trying to run Headset twice"
### Description

When I double click on the desktop icon, **while** an instance of Headset is already running, an error message occurs.

### Expected behaviour

Maybe a message box telling me that Headset is already running?

### Actual behaviour

![image](https://user-images.githubusercontent.com/10259118/49815725-b5037c80-fd6c-11e8-9b3d-ed156a59970c.png)

### Your Environment

- Windows 10 (Vers

[2018-12-11 23:22] #212 closed

[2019-01-05 16:01] eyrent opened #215 "Liking song also 'loves' song in Last.fm"
### Description

It'd be useful that liking a song (heart icon) would also tag the scrobbled song as favorite(heart icon)
I think it's self explanatory. Thanks.

[2019-01-05 18:19] matheusfaustino opened #217 "Change the rate of playback"
### Description

Be able to change the rate of playback, like 0.75x, 1.25x, 1.5x.

### Expected behaviour

The playback rate of the audio increase or decrease.

### Actual behaviour

Not implemented, yet.

### Your Environment

- What OS are you using?
macOS Mojave
- What version of Headset? (copy and paste from the user profile page if possible)
Version 2.1.1 (1.0.100)

[2019-01-11 18:18] #182 closed

[2019-01-15 19:19] #188 closed

[2019-01-29 02:18] fcastilloec commented on #95
I'm closing this because there's no good way to do this. When sumbiting the PR for a new version, brew cask will download the new installer to verify its sha256sum, and this can happen before the installer is actually published which will result in the PR erroing.
This is very likely to happen because the macOS build finishes before other OSs (linux takes the longest because it's building two inst

[2019-01-29 02:18] #95 closed

[2019-02-28 14:31] Ghostbird opened #222 "Install on Debian 10 “Buster”"
### Description

The package `libgconf2-4` that headset depends on is available in Debian 8, 9 and _unstable_
 from _oldlibs_.  In Debian 10 the headset .deb package is uninstallable
### Expected behaviour

Headset's .deb package should be installable on Debian 10

### Actual behaviour

The package manager complains – rightly – that the dependency `libgconf2-4` is unsatisfiable

### Your Environme

[2019-02-28 18:46] fcastilloec commented on #222
Thanks for reporting this. This is an issue that affects all packages build with `electron-installer-debian` and maybe `electron-installer-redhat`
I fix will come soon.

[2019-03-01 08:52] Ghostbird commented on #222
I have no idea why I used the old v1.6.1 when I reported this. v2.1.1 is affected in the same way, and I have updated the original post to reflect this.

When I run this script that automates the build process as described in `README.md`:
[code]
It does not depend on any `libgconf`. I'm not sure why, though. The dependencies listed in the control file are: `libgtk-3-0, libnotify4, libnss3, libxss1

[2019-03-02 01:49] #222 closed

[2019-03-02 02:12] fcastilloec commented on #222
@Ghostbird can you try the new version and see if it works?

[2019-03-07 11:52] Ghostbird commented on #222
Works perfectly! Thanks!

[2019-04-05 11:22] dancsee89 opened #227 "Add physical function hotkey support"
### Description

I'm using a 13" MacBook Pro (2017), without touchbar, physical keyboard only. I'm used to play / pause music with the built-in keyboard hotkeys (also called function keys), many application supports this type of interaction. It would be great if you could add this feature as well.

### Expected behaviour

When pressing the F8 (play/pause) key on my keyboard, the app should catch t

[2019-04-05 13:08] dancsee89 commented on #227
Sorry, I found a closed issue regarding this, with a solution, so I close this issue.

[2019-04-05 13:08] #227 closed

[2019-04-07 14:28] Skayo opened #228 "'tiny' isn't a valid option"
According to my knowledge, and the YouTube Player API Docs, there isn't an option `tiny` for `suggestedQuality`. There's only a `small`.

Correct me if I'm wrong tho.

[- Link to the line in the code I'm talking about -](https://github.com/headsetapp/headset-electron/blob/fdfb2b8bd46fd42570c81475a00758bde608f673/shared/player/ytPlayer.js#L52)

[2019-04-08 17:20] fcastilloec commented on #228
The API Docs don't show all possible element values, mainly because not every platform supports all of them.
If you ran `getAvailableQualityLevels()` you'll get the list of all possible ones, and `tiny` is one of them. For example, I think that iOS doesn't support `tiny` and that's why it might not be listed.

[2019-04-08 17:20] #228 closed

[2019-04-17 13:05] schroedingersKat opened #231 "Repeat One + Media Next or Next Track replays same song or jumps to bugged Upgrade To Pro commercial"
### Description

When playing song with Repeat One option, if user presses Media Next key or Play Next button, Headset starts playing same song from beginning. If at this moment Upgrade To Pro commercial pops up, it gets stuck in Repeat One mode and user is unable to change Repeat mode.

### Expected behaviour

User should be able to skip songs normally, despite Repeat One button. Commercial shoul

[2019-04-28 10:50] ghost4499 opened #232 "Discord RPC support"
Hello, I've recently been going through a bunch of apps for music streaming and I've come to like the layout of this one. I like to show others what i'm listening to and I was wondering if you guys could add an optional Discord rich presence?

[2019-04-28 18:21] fcastilloec commented on #232
I'm not very familiar with Discord rich presence, but isn't Discord only for games?

[2019-04-29 00:23] ghost4499 commented on #232
Spotify uses the RPC as well but they're a bit more integrated with Discord, and some other third party apps like the Google Play Desktop or YouTube Music Desktop app (laggy) have an RPC showing (if i remember correctly) the artist, song, and remaining time left on the song.

[2019-04-29 02:38] danielravina commented on #231
Pushed a fix for that. Update version `Core 2.2.2`

[2019-04-29 02:38] #231 closed

[2019-05-13 20:51] qwoodmansee opened #235 "Cannot close additional "What is this window" from Player Window link"
### Description

The player window has a link with the text `What is this window` which opens a second window to explain what the player is and what it's for. While it is obvious that the player window can not be closed, it doesn't make sense that the new additional window cannot be. You can even click links and open additional "extra" windows which can't be closed.

### Expected behaviour

The se

[2019-05-19 05:52] #235 closed

[2019-05-22 11:03] didrip opened #237 "Media Key not received on windows."
I just installed latest headset on windows 10 (1809) and I cannot get the media key to work.

I check #5 and googled for solutions (below) but still have the problem.

- change default Music & Video app => I set it to VLC which receives the media key events correctly (it did so even before I set it as the default app)

- disable google music extension

- chrome://flags/ => disable hardware handlin

[2019-05-30 07:20] jjbully opened #238 "the menu doesnt show up when clicking the icon on the menu bar"
### Description

the menu doesnt show up when clicking the icon on the menu bar

### Expected behaviour

the menu or option will show up when clicking the icon on the menu bar

### Actual behaviour

the menu or option doesnt show up when clicking the icon on the menu bar

### Your Environment

- MAC OS 10.14.4
- 2.1.3

### Screenshots

![Cursor_and_Item-0_and_Item-0_and_AppleVolumeExtra_and_Item-0

[2019-05-31 00:00] fcastilloec commented on #238
Thanks for reporting this. It seems that the problem was a module we depend introduce some error. A fix will be coming really soon.

[2019-05-31 00:19] #238 closed

[2019-05-31 03:25] fcastilloec commented on #237
I've been trying to reproduce this on the exact same version of Windows you have but I can't.

Media keys in Windows work as first-come-first-served, which means that if you have an app already running that uses media keys, that app will receive all of those media keys. If the app only uses a couple of media keys then the rest can still be grabbed by Headset. For example, Chrome can grab the `play

[2019-05-31 04:55] fcastilloec commented on #238
There's a new release, v2.1.4, this issue should be fixed there

[2019-05-31 07:21] jjbully commented on #238
thank you very much

[2019-05-31 13:22] ydixt commented on #237
Thanks for your feedback, I'll take time to investigate this week end, but I don't think it is an headset bug either anymore as I found that play/pause works from my bluetooth headset (headphones), whereas media keyboard key does not on Headset (both work on VLC). So it might be some sort of a Logitech (brand of my keyboard) setting.

[2019-06-03 11:49] oL-web opened #243 "Option to disable hardware acceleration"
### Description

All the existing Chromium apps allow the user to disable hardware acceleration. I always disable it because otherwise my GPU fans go crazy to 100% fan speed even for simple things like gifs on Discord. Same thing happens here with live music and it crashed my PC once already. I'm not sure if it happens only on my PC but still, the option is there in every other app.

From what I'v

[2019-06-03 19:25] fcastilloec commented on #243
I think the fastest way to implement this is allowing the user to pass an argument from the command line.
I'll look into it.

[2019-06-04 01:20] danielravina commented on #243
would it work on Windows @fcastilloec ?

[2019-06-04 01:52] fcastilloec commented on #243
@danielravina I think it will. I'll test it out when doing merging of the whole code

[2019-06-27 14:10] musa-almatri opened #245 "Support Airpods"
### Description

Headset app is working fine with keyboard media keys. But, when I try to play and pause a song using the airpods it opens iTunes !!!

### Expected behaviour

Play and pause using the airpods should works like the media keys

### Actual behaviour

When trying to pause a song using the airpods itunes open

### Your Environment

- What OS are you using?
macOS Mojave
- What version of

[2019-06-28 00:04] fcastilloec commented on #245
I don't think this is a problem with Headset but rather the configuration of your airpods. You should check the configuration under Bluetooth to see what pressing the buttons do and make sure they send media key shortcuts.

[2019-07-05 13:36] SDVII opened #247 "Duplicate songs after loading new tracks"
### Description

Pressing "LOAD MORE" while listing to a long playlist causes songs from the one you are listing to till the last to entry to be duplicated and added to the playlist before the newly loaded songs

### Expected behavior

It should not duplicate previously listed song and to load new songs correctly

### Actual behavior

Songs between the one currently playing till the last entry are

[2019-07-08 12:01] latteyo opened #248 "Personal thoughts about search autocomplete"
### Description

I am using the HeadSet application very well and it seems that the function of autocomplete with the mouse cursor when searching is a little inconvenient.

What do you think about removing the autocomplete function due to the mouse cursor?

### Expected behaviour

The mouse cursor automatically completes when searching.

### Actual behaviour

No error message.

### Your Environmen

[2019-07-09 06:54] SDVII opened #249 "Save position in a playlist"
### Description

I think it would be an awesome feature if headset could remember the track you were playing last in a certain playlist, especially long ones

### Expected behavior

Headset saves the position of the last song you played in a playlist (maybe toggled in settings?)

### Actual behavior

Headset forgets the song you were playing before you closed the app

### Your Environment

- Windo

[2019-07-09 23:45] danielravina commented on #249
This has been on my mind for a very long time. This is a very desirable feature to build but it presents some challenges. Will likely going to work on that soon.

[2019-07-10 07:20] SDVII commented on #249
Best of luck with that.
Keep up the good work!

[2019-07-11 06:13] danielravina commented on #243
v3.0.0 Now support disabling hardware acceleration via the command line. If you use Headset with [chocolatey](https://chocolatey.org/), you can run Headset with `--disable-gpu`

[2019-07-11 06:13] #243 closed

[2019-07-11 06:15] fcastilloec commented on #243
Chocolatey is not required. Here's a very easy guide (with pictures) on how to add the `--disable-gpu` option to the Headset shortcut, the guide is for a video-game shortcut but it applies to any:
https://www.lifewire.com/command-line-parameters-video-games-3399930

[2019-07-11 06:39] asgmojtaba commented on #3
You can set environment variable for specify program by putting it before program name, so to apply HTTP(S) proxy you must launch Headset like this (in terminal):
`HTTPS_PROXY=127.0.0.1:8118 HTTP_PROXY=127.0.0.1:8118 headset`
don't forget to set both HTTPS and HTTP proxy.

You can also modify headset.desktop file (in my distro the path is /usr/share/applications/) to something like this if you don

[2019-07-11 15:55] johanlunds opened #253 "TypeError: Error processing argument at index 10, conversion failure from ./icon.png"
### Description

I get this error message fairly often, but quite randomly. It does NOT crash the process. It still works. But is quite annoying.

Error message:

[code]

See screenshot.

### Your Environment

- OS: Mac
- Headset version: latest 2.2.0

### Screenshots

<img width="420" alt="Blank_Skitch_Document" src="https://user-images.githubusercontent.com/22144/61065895-db71bf00-a404-11e9-9b96

[2019-07-11 17:04] oakniiv opened #254 "Ubuntu GUI."
### Description

Does re-sizing and maximizing feature come with a subscription only?

### Expected behaviour

Resize. Maximize.

### Actual behaviour
Maximize and resize are blurred out as you see. Self explanatory.

![Screenshot from 2019-07-11 19-00-38](https://user-images.githubusercontent.com/34109529/61070290-994d7b00-a40e-11e9-9bd7-0eb5614829ad.png)

### Your Environment

- What OS are you

[2019-07-11 18:17] fcastilloec commented on #253
This has been fixed in a new version that will be released later today. Sorry about it

[2019-07-11 18:26] fcastilloec commented on #254
Headset was designed with a particular window-size in mind, that's why it can't be resized or maximized on any OSs (not just Linux). The only window that can be resized is the (hidden) player. This is by design.

[2019-07-11 18:40] oakniiv commented on #254
@fcastilloec
I'm showing you another bug in the video. https://streamable.com/chx37
Also there is no back button to go back to the player from my profile. Just reset the app every time?

Is this a web app trying to fit many operating systems? Could work, great idea, but needs a lot of polishing.

[2019-07-11 18:49] fcastilloec commented on #254
@oakniiv I'm going to close this issue but please report the new bug on a new issue so it's easier to keep track.
Regarding the back button, when you navigate to your profile, the player gets "minimized" (becomes smaller on the lower part of the app), you can simply click there and it'll be "maximized".
![navigate](https://user-images.githubusercontent.com/1280530/61076760-d6474c80-a3d1-11e9-8537-

[2019-07-11 18:49] #254 closed

[2019-07-11 19:14] #253 closed

[2019-07-12 06:51] oakniiv opened #259 "Ubuntu deserves a user interface as well."
### Description

Just watch the video.

### Expected behaviour
The app should work properly.

### Actual behaviour

It doesn't. Design I guess.

### Your Environment

- What OS are you using? Ubuntu 16.04
- What version of Headset? (copy and paste from the user profile page if possible)
3.0.2
### Screenshots
Watch the video.
https://streamable.com/5rb8c

No bottom menu as in picture. No back butto

[2019-07-12 15:35] danielravina commented on #259
@oakniiv so sorry you are experiencing this. This might happen after v3.0.0 that caused some breaking changes. Do mind just trying to run an older version https://github.com/headsetapp/headset-electron/releases/tag/v2.2.0 if possible and let me know if you're noticing the same behavior?

[2019-07-12 15:41] danielravina commented on #259
I'm running Headset 3.0.2 on an Ubuntu 16.04.2 VM and getting the app's full height. That's really odd.
![Screen Shot 2019-07-12 at 8 40 09 AM](https://user-images.githubusercontent.com/3150871/61140668-af941f00-a480-11e9-95ec-c3125b5ddd7d.png)

[2019-07-12 20:35] fcastilloec commented on #259
I've tested the app on Ubuntu 16.04, 18.04, 19.04, Fedora 30, Linux Mint, Ubuntu Mate, and in all of them there's always a full window shown.
Even though the window is set as not resizable, maybe having `minHeight` might help.

@oakniiv Can you try something to see if this gets fixed? Can you run on a terminal: `rm -rf ~/.config/Headset` This will delete all the config files. Let me know if the wi

[2019-07-12 23:56] #237 closed

[2019-07-13 04:47] maskyad opened #260 "The application should have a resize feature"
### Description

This is just a suggestion, but I would love to hear your feedback.
I really liked the app, but I would like to suggest two simple functions that I really miss!

### Expected behaviour

1- Resize the window: The window is exactly 377x699 pixels in size. I'd really like it if we were able to narrow or enlarge that window. Be able to make it bigger, full screen, or even thinner.

2-

[2019-07-13 07:04] oakniiv commented on #259
The problem is that I'm using fakexrandr to split my 4k TV into 5 seperate displays. The app works perfectly on my laptop (secondary display), and I'm able to start the app on my laptop and then put it on my big display and It'll work, but if I start it when the bigger display is on it cuts it in half for some reason. A resize feature would be great. Or a web-application, even better you could als

[2019-07-13 14:37] didrip commented on #237
Tried again with the updated version (3.0.2) but the error log stays desperately empty : (I tried only the play/pause key as this is the only one on my keyboard, Logitech K810).

[code]

[2019-07-13 14:44] didrip commented on #237
After trying to quit every single background app one by one I finally found the guilty blocking app : Logitech Setpoint Event Manager (had to kill it in task manager). Weird thing is that it did not stop media keys from being received by VLC.

[2019-07-13 15:00] didrip commented on #237
Found solution to keep using Setpoint (useful for low battery notifications) and make media keys work as normal, all credits to this post https://github.com/MarshallOfSound/Google-Play-Music-Desktop-Player-UNOFFICIAL-/issues/1306#issuecomment-264827884

Basicaly I used [TextCrawler](https://www.digitalvolcano.co.uk/tcdownloads.html) to find the xml file containing the name of my keyboard inside th

[2019-07-13 19:24] fcastilloec commented on #259
This might actually be an issue with fakexrandr rather than with our app. I think it's resizing the window even though it's set to never do that. We've set the size of the app without resizing as a design choice.
I have four monitors on my system (they are not simulated) and Headset opens without any problems in all of them, and they're all different brands and models.

[2019-07-13 19:34] oakniiv commented on #259
It is an issue with fakexrandr for sure. Re-sizing the app would be awesome and more and more users are going to ask for that. However, I just wanted to say that you have to make an Android app. Right now Headset is nothing but music.youtube.com with an AdBlock which I'm using, I ditched Spotify for Youtube Music with AdBlock and NewPipe on Android.
A Spotify alternative for Android would be aweso

[2019-07-13 19:34] #259 closed

[2019-07-13 19:40] oakniiv opened #261 "Not an issue but better alternative, source to learn from for developers."
https://github.com/nukeop/nuclear

[2019-07-13 19:49] fcastilloec commented on #261
I'm not sure what you're trying to say with this issue. Do you want Headset to look like nuclear? Do you want us to use nuclear source code for Headset?
In any case, nuclear is using `mps-youtube` to play videos but this goes against Youtube terms.  We are trying to go by what Youtube allows us to do, so we don't get shut down.

[2019-07-13 23:37] danielravina commented on #259
Regarding Android app: yes, that would be amazing to have it but unfortunately, not feasible. Please take a look at the FAQ https://headsetapp.co/docs/faq

[2019-07-14 04:47] oakniiv commented on #259
Look at "new pipe", they have a background play option and it works perfectly.

[2019-07-14 06:01] danielravina commented on #259
It’s technically possible but goes against ToS. They will be taken down at some point just like what happen to [streamus](https://www.google.com/amp/s/thenextweb.com/insider/2015/07/21/how-youtube-killed-an-extension-with-300000-users/amp/). I don’t want to take this risk.

[2019-07-14 23:08] maskyad commented on #260
...?

[2019-07-14 23:10] maskyad commented on #260
@fcastilloec @danielravina

[2019-07-14 23:13] danielravina commented on #260
This is a good idea. A mini-player mode will be better (and easier to build) than the ability to resize the window

[2019-07-18 18:36] maskyad commented on #260
@danielravina Thanks for the feedback! How long do you think it would take to be built?

[2019-07-21 20:08] ajipw opened #262 "Can't Change song position on My Collection"
### Description

Cannot move or shift songs in the collection.

### Expected behaviour

If I click and move down or up then it should be shifted.

### Actual behaviour

List of songs queues in my collection are rolled out but do not shift the song Queue, but instead become an html code

### Your Environment

- Windows 10 version 1903
- Headset 3.0.2 (core: 2.4.1, wrapper: v3.0.2

### Screenshots

[2019-07-22 00:19] danielravina commented on #262
I'm looking into it. it works in the "dev" mode which is weird.

[2019-07-22 01:15] danielravina commented on #262
So only in the obfuscated bundle, I got an error `Uncaught ReferenceError: _0x5c28eb is not defined`. Not sure how and when it started happening. I replaced the obfuscator with terser-webpack-plugin and it's working now in version v2.4.3. Thanks for reporting this @ajipw!

[2019-07-22 01:15] #262 closed

[2019-07-22 01:18] danielravina commented on #261
LOL Love the testimonials 👍
<img width="1403" alt="Screen Shot 2019-07-21 at 6 17 20 PM" src="https://user-images.githubusercontent.com/3150871/61600143-f81bad00-abe3-11e9-817b-4a4c3a0881f3.png">

[2019-07-22 01:18] #261 closed

[2019-07-22 01:55] danielravina commented on #248
@latteyo you know, this bug has been annoying me as well for quite some time. I knew it's a low-hanging-fruit bug to fix but didn't have the time to look over it. Happy to say it is now fixed on Core v2.4.4.

Cheers!

[2019-07-22 01:55] #248 closed

[2019-07-22 03:32] ajipw commented on #262
Thank you. It's working again now!

[2019-07-22 18:14] latteyo commented on #248
I checked. Thanks!

[2019-07-23 10:52] KernelPainc opened #263 "RPM download non-existent"
### Description

Your website lists RPM package as a download option. However, when you click it, it links to a github 404 page.

### Expected behaviour

The download of the RPM package should begin

### Actual behaviour

A 404 page appears

### Your Environment

Firefox Developer Edition 69

[2019-07-25 21:23] danielravina commented on #263
Fixed

[2019-07-25 21:23] #263 closed

[2019-08-11 01:49] Prakhar236 opened #265 "App stopped working"
### Description

It has been a month or so since the app stopped working. I have restarted my mac multiple times but still the issue persists. When I open the app, it just shows a blank gray box.

### Expected behaviour

It should open as normal so I can play and browse music

### Actual behaviour

The app opens but doesn't display a working screen.

### Your Environment

- What OS are you using?

[2019-08-11 02:30] danielravina commented on #265
1.5.2 is pretty old. can you try to download the latest version? https://github.com/headsetapp/headset-electron/releases/download/v3.0.2/Headset-3.0.2.dmg

[2019-08-11 02:35] danielravina commented on #265
Just to clarify: you won't need to manually download and install every time there's a new version. We introduced the auto-update feature after 1.5.2

[2019-08-19 09:43] farobarcha opened #267 "App not working in Ubunu under root account"
### Description

App does not working in Ubuntu 16.04 root whereas it works fine when I logged in as a normal user or guest account.

### Expected behaviour

App should launch.

### Actual behaviour
This looks to be specific to electron. I have checked the logs and found this.
"Running as root without --no-sandbox is not supported. See https://crbug.com/638180."

### Your Environment

Ubuntu 16.04

[2019-08-20 02:46] fcastilloec commented on #267
I never thought anybody will run this app as root, it's usually discouraged to run an electron app as root because they are basically web browser that now has unchecked access to the whole machine.
Anyway, as you mentioned during your search, try running `headset --no-sandbox` as root and it will run, I tested it on my machine and it works.

[2019-08-20 02:46] #267 closed

[2019-08-20 05:11] farobarcha commented on #267
Yeah, `headset --no-sandbox` worked the trick.

[2019-08-28 15:04] latteyo opened #268 "How about putting a search box under Likes Tracks?"
### Description

I think it would be nice to have a search box so that I can find it without having to scroll.

### Expected behaviour

putting a search box under Likes Tracks

### Actual behaviour

Not error, UI / UX Improvements

### Your Environment

- What OS are you using? Window
- What version of Headset? (copy and paste from the user profile page if possible)

Core: v2.5.2 Wrapper: v3.0.2

[2019-09-06 04:24] danielravina commented on #268
Done!

[2019-09-06 04:24] #268 closed

[2019-10-03 14:28] marcopetreri opened #270 "Play media key opens iTunes when app is open but idle"
### Description

When the application is open but idle by some time, play media key is intercepted by iTunes.

### Expected behaviour

The app should continue to intercept the media keys as in active state.

### Actual behaviour

As in description.

### Your Environment

- macOS Mojave 10.14.4 (18E226)
- Headset wrapper 3.1.0 core 2.7.0

[2019-10-03 20:24] fcastilloec commented on #270
I'll look into this but I can't reproduce this on Linux or Windows. It seems it might be a bug with electron itself and not Headset.

[2019-10-05 23:00] lfmac opened #271 "No confirmation email"
### Description

No confirmation email every single time I ask for it, so I cannot confirm my account.

### Expected behaviour

There should be a confirmation email if we ask for it.

### Actual behaviour

It says an email was sent to my email address and to confirm the 6 digits code.

### Your Environment

- MacOS Mojave 10.14.5
- Version 3.1.0 (3.1.0)

### Screenshots

![Captura de ecrã 2019-10-

[2019-10-06 02:14] danielravina commented on #271
Can you check the spam folder?
If it's not there, can you please send your email to hello@headsetapp.co and I'll activate it for you

[2019-10-13 04:53] Rediowz commented on #232
It would be a really great enhancement ! I'm rooting for it

[2019-10-20 10:43] ciases opened #272 "Bad sound quality"
### Description

Hello!
An app outputs silent muffled sound.

### Expected behaviour

Clean and loud sound.

### Actual behaviour

The music from the program is low quality and quiet. I tried to open certain tracks on youtube or via vlc, everything is fine (the sound is clear and loud). So something is wrong with the program (or with my system, haha)

### Your Environment

- What OS are you using?

[2019-10-24 17:52] fcastilloec commented on #272
Can you provide a youtube link of the song that you were using to test? That way I can see what's happening, but so far, I can't reproduce this.
Because it's youtube, some songs are going to have bad quality because that's how they were uploaded.

[2019-10-28 20:31] ciases commented on #272
Sorry for late response. I didn't see a notification.
Here is a link to test track: https://www.youtube.com/watch?v=NeQM1c-XCDc
After some tests I must admit that quality of audio is (probably) fine, but it's definitely quieter that other system sound. I need to increase volume up by 10% to get the same level as in mpv player (or vlc player).

[2019-10-28 21:23] fcastilloec commented on #272
Headset has its own volume that usually starts around 75% if I remember correctly. Just make sure the app volume is to the max and you'll get the same level as other apps. I tested your song (awesome video btw) and the levels seem the same when Headset internal volume is maxed, compared to Chrome (or Firefox) volume.

[2019-10-29 08:13] ciases commented on #272
Okay, I will recheck my system sound settings. Maybe mpv player has increased volume by default, he-he.

[2019-10-29 08:13] #272 closed

[2019-11-07 02:34] VerstandInvictus commented on #271
Mine got filtered to spam by gmail. Reported not spam, but you might want to follow that up with them.

[2019-11-07 19:28] #271 closed

[2019-11-13 09:36] orangemango opened #273 "Export from command line"
Being able to export Headset data trough command line would open the possibility of some automation. I want to automaticaly download my liked tracks to sync them to my phone.
(what is the current location and format of the user data ?)

(thank you for the app and the awesome "Play Similar Songs" feature!)

[2019-11-13 19:18] fcastilloec commented on #273
I'm not 100% sure how you want this to work. We already have the possibility to download all your data from your Account tab, this includes all your likes. You can use this JSON object in your program to automate your sync.

[2019-11-14 22:18] orangemango commented on #273
Yes the command line is to have access to the Export feature in the Account tab. It would looks like "headset.exe export db.json"

I asked to know if there is already a way to extract the data without going trough the GUI.

[2019-11-15 04:57] fcastilloec commented on #273
I'm sorry but I don't think this is possible. For this to happen, the way Headset works would have to change.
All the required functions to export your data reside on the GUI side. Even if we implemented a command line function, Headset will still have to open a window to get all the user data. There are also special cases to consider like the user isn't logged in.
Even though automation with Head

[2019-11-15 06:46] danielravina commented on #273
Thanks Felipe! that’s right, The reason you must use the GUI is because it authenticates with cookies instead of something more flexible like JWT. There is no official public API and I can’t promise there will be one any time soon.

[2019-11-15 17:53] #273 closed

[2019-11-17 10:58] Split7fire opened #274 "Package for Flatpak?"
Can it be possible to create a flatpak package? It will be all-in-one linux package as number of flatpak-ready linux distributions are growing.

[2019-12-16 20:10] fcastilloec commented on #274
I've been looking into creating a flatpak but it seems it's not going to be possible. At the moment, there are no tools out there (that I know of) that support creating a flatpak for an electron app.
There's a package called `electron-installer-flatpak` but it hasn't been updated in 2 years.
Electron builder has some discussion in adding flatpak support but it's taken a long time for any work to b

[2019-12-24 13:56] ZerGo0 opened #276 "Player not loading/initializing"
### Description

A few days ago the headset application stopped working for me, the player doesn't seem load.

### Expected behaviour

The player should load and work just fine.

### Actual behaviour

It just doesn't load.

### Your Environment

- What OS are you using? Windows 10 build 1903
- What version of Headset? Core: v2.7.1, Wrapper: v3.1.0

### Screenshots

https://i.imgur.com/E5njzsv.png

[2019-12-25 18:34] ZerGo0 commented on #276
Nvm, my DNS blocklist filtered that domain, everything works fine after whitelisting it.

[2019-12-25 18:34] #276 closed

[2020-01-05 04:31] Austint30 opened #277 "YouTube Searches Not Loading, Random Reddit Radio Stations Not Loading"
### Description

Headset App YouTube search no longer loads content. Certain Reddit radio stations are not available.

### Expected behaviour

Everything seemed to work fine until about a week ago. YouTube searches worked as expected, and reddit stations worked fine.

### Actual behaviour

YouTube searches frequently result in infinite loading times. Select Reddit radio stations do not load and re

[2020-01-05 05:03] fcastilloec commented on #277
This is a weird bug. It's not always happening to me. I actually didn't notice it until I deleted all my cache.
@danielravina can you check if you're also experiencing this?

[2020-01-05 06:47] danielravina commented on #277
API key has reached the daily quota every day since Dec 28. this is odd.
the reason it sometimes shows and sometimes not is because I'm alternating between two different keys to handle the load. I'll request a quota increase (again) and hopefully it will get approved in a timely manner.

[2020-01-05 07:16] danielravina commented on #277
Ok just submitted a request. I'm not sure how long this will take this time. Last time I requested it took a few weeks. the patterns of usage do look odd. I can't tell if someone is abusing the API key as it has been consistently high (which is something I've never seen before).. but then again, last Jan the usage was quite high as well compare to the rest of the year so I guess we'll wait a few m

[2020-01-05 21:36] danielravina commented on #277
I looked at the usage this morning, the quota was near the limit at around 11:00am. This is not normal. I generated a new API key with the same restrictions (domain) so things should be good for now. If this continues to be a problem I'll have to build a backend proxy server to handle youtube API requests which will essentially hide the key from the public. Maybe I'll do it via Cloudflare as they

[2020-01-06 17:45] Austint30 commented on #277
Tried it this morning and the problem still persists.

[2020-01-06 18:47] danielravina commented on #277
All limits are up using 3 API keys. the app is basically unusable until I hear back from Google.

[2020-01-07 00:29] danielravina commented on #277
We've made some changes - please follow this guide to make Headset functional again: https://github.com/headsetapp/headset-electron/wiki/Get-Youtube-API-Key

Honestly, I wish I wouldn't have to do this, but there isn't really much choice at this point.

[2020-01-07 00:29] #277 closed

[2020-01-07 21:29] Kandelai opened #279 "New API Entry Not Working"
### Description

Apparently now you have to create a Google/Youtube API code and plug it into Headset. I went through the steps as directed to create a new API Code, entered it into Headset, but I keep getting Invalid Code Error. The Code on Google says active. I waited many hours and tried several times to enter the code, but same Invalid Error occurs.

### Your Environment

I am using Manjaro OS

[2020-01-07 21:39] fcastilloec commented on #279
I've tested with multiple accounts and keys and they all work. Make sure you copy/paste the correct code. Also, make sure that you created an "API key" and not an "OAuth client ID" and you haven't added any restrictions.
It should look like this:
![Selection_023](https://user-images.githubusercontent.com/1280530/71931484-b0b5b880-3152-11ea-820e-0de034da3bf4.png)

[2020-01-08 00:24] Kandelai commented on #279
I actually typed it the API Key this time and still get 'Key is Invalid. Please try again.' I did create an 'API Key' and not an 'OAuth client ID'. No restrictions. I will attach a screenshot.

![Screenshot_20200107_161845](https://user-images.githubusercontent.com/39681298/71940126-15c8d880-316a-11ea-95d0-b831648e3a80.jpg)

[2020-01-08 00:39] fcastilloec commented on #279
It seems that the key has been used and working from the screenshot you posted.
I would recommend deleting your config directory and restart Headset. On Linux, this is under `~/.config/Headset`. You will have to re-login afterward.
@danielravina is there a way to debug this from the user's side?

[2020-01-08 01:11] Kandelai commented on #279
It is a new key. Every time I try and enter it in Headset, it registers as a "usage" which is why you are seeing on my google screenshot. I have already tried removing the app completely and deleted the Headset folder under the folder .config, then reinstalled it. Same error.

[2020-01-08 01:21] danielravina commented on #279
I was able to replicate your issue (I think)
1. I restrict the key only to Youtube API
2. I regenrated a new Key
3. I clicked Save
4. I waited about a minute
5. copied the key from the same place you took the screen shot
6. Worked

@Kandelai can you try that?

[2020-01-08 01:26] Kandelai commented on #279
I did everything you described, thanks for the detailed instructions/screenshot. Unfortunately, it did now work. I will wait a little longer and keep trying, but no go so far.

[2020-01-08 01:40] danielravina commented on #279
I'm really sorry you are experiencing this. If you need, I can send you my working key via email. I don't mind at all

[2020-01-08 02:58] Kandelai commented on #279
I appreciate the offer, but I will wait it out and try again down the road. It was an excellent app/service. It is unfortunate Google doesn't like to play nicely. ;-) I will check back down the road and see if it irons itself out. Best to you.

[2020-01-08 10:59] actionless commented on #279
having the same problem

would be useful if your would be writing the real error somewhere instead of  ![2020-01-08--1578481103_400x57_scrot](https://user-images.githubusercontent.com/1655669/71973030-2df23380-320e-11ea-99b3-341f716391c0.png)
at least to stdout (if you afraid your typical user will got shocked from js stacktrace

in Google API dashboard i see what every request to `youtube.search.

[2020-01-08 21:37] danielravina commented on #279
@actionless I just added a button to show the full error message. can you copy it and paste it here please?

[2020-01-08 21:56] actionless commented on #279
![2020-01-08--1578520501_1406x2038_scrot](https://user-images.githubusercontent.com/1655669/72019491-1ba5e300-326a-11ea-8865-8d6d68df82ff.png)

[2020-01-08 22:16] danielravina commented on #279
@actionless Sorry - I pushed another version (2.8.6) that gives more details on the error. Can you please try again? Thank you

[2020-01-08 22:48] actionless commented on #279
finally i've got some error message in the webdev console ^^

[code]

[2020-01-08 22:55] actionless commented on #279
So my solution to the problem was:
to create project again, for some reason adding key to existing project wasn't working

[2020-01-08 22:58] fcastilloec commented on #279
@actionless I was about to mention that. While searching online, it seems this was the only workaround that worked.
I did manage to create a key from an existing project that did work, but this existing project is only a couple of weeks old. I've heard that old projects might have issues with inactivity, but I have no real probe about that.

[2020-01-08 23:03] actionless commented on #279
yup, i've used a project from 2015

[2020-01-08 23:11] actionless commented on #260
what about allowing only vertical scale and making playlist flexible?

while OP want wants his player smaller, i'd like the opposite, to have playlist to display more than 4 items at once, as my screen estate is allowing that

[2020-01-08 23:15] Kandelai commented on #279
Confirmed this worked for me as well, created a new project (was using a previously created project) and API key with restrictions applied to the youtube API under it. Awesome...and thanks again.

[2020-01-08 23:15] #279 closed

[2020-01-09 02:03] danielravina commented on #279
Awesome! Glad it's working :) I updated the guide and linked this issue 👍 Thanks so much!

[2020-01-09 19:53] Immac opened #281 "Ctrl + Shift + I Opens the developer tools even if the app is not focused"
### Description

When I press `Ctrl + Shift + i` headset takes focus and opens the developer console

### Expected behaviour

If I press the aforementioned keys when headset is not focused it should not take the focus away from the app that I'm actually trying to use the keys on

### Actual behaviour

I'm trying to inspect a variable on eclipse and headset steals the command and opens the develope

[2020-01-09 19:56] fcastilloec commented on #281
Thanks for pointing this out. It seems that we need to find a better way to deal with opening the developer tools. I'll take a look at what we can do to fix this and release a new version in the next days.

[2020-01-12 20:54] #281 closed

[2020-01-12 20:55] #245 closed

[2020-01-12 21:33] #265 closed

[2020-02-04 10:38] sab666 opened #284 "Pressing ctrl+shift+i anywhere brings up Headset's developer tools"
### Description

When pressing ctrl+shift+i in any context, Headset's electron developer tools appear.

### Expected behaviour

For the keypress to be passed to the active application (for example Firefox or Chrome)

### Actual behaviour

Electron's developer tools pops up, pointing to https://danielravina.github.io/

### Your Environment

- What OS are you using?
Ubuntu Budgie 18.04.03
- What ver

[2020-02-04 20:27] fcastilloec commented on #284
Duplicate of #281
The fix is already in our repository, we just have to release a new version, which will happen this week.

[2020-02-04 20:27] #284 closed

[2020-02-04 21:04] fcastilloec commented on #284
We just released a new version, this should be fixed there. Let me know if it's fixed for you.

[2020-02-05 09:58] sab666 commented on #284
Apologies for filing a duplicate and thank you for the quick reply.
As of right now there aren't any binaries available, and I'm not at liberty to setup an environment to build myself - so I'll report back once I've had a chance to test the .deb.

[2020-02-05 16:52] fcastilloec commented on #284
The binaries are up now, there was some delay due to some issues with Travis that I haven't noticed. Restarting some builds fixed everything and we're back to normal. Sorry again for the delay.

[2020-02-06 08:53] sab666 commented on #284
No worries, still a marvelously fast response ;)

I can confirm that this release has fixed the issue for me. Thanks and have a great day!

[2020-02-09 23:26] x80486 commented on #274
I tried to build it from sources...but that's going to take some time :confused:

If you are interested in publishing `Headset` right away, hopefully to Flathub, grab this branch: https://github.com/x80486/flathub/tree/co.headsetapp.Headset/ and send a Pull Request. I can do it for the first part though, but I can't commit to maintain it.

Let me know...the Flatpak on that branch works right now.

[2020-02-27 21:17] tazkerino commented on #276
Hey, can you explain how you fixed this? I'm having a similar issue. Thanks

[2020-03-10 14:56] igauravsehrawat opened #286 "Headset quitting unexpectedly [Very frequent]"
### Description

I have been seeing this error message of headset quitting unexpectedly every 30 minutes of so.

### Expected behaviour

It should not quit this frequent.

### Actual behaviour

Tell us what happens instead. Provide an error message if relevant.

### Your Environment

- OSX Mojave
- Headset version: 3.2.1

### Screenshots

<img width="523" alt="Screen Shot 2020-03-10 at 15 53 08" s

[2020-03-10 18:38] fcastilloec commented on #286
Could you provide us with more info? For starters, can you post what's under "Comments" and especially "Show Details"? Also, can you post the log for Headset right after this error happens?
The logs are rewritten every time you open the app, so do not re-open Headset after you encounter the error.
You can find the logs for macOS at: `~/Library/Logs/Headset/main.log`

[2020-04-02 13:14] igauravsehrawat commented on #286
Been working from WFH, haven't seen this message in a while.

I assume it was happening because of corporate firewall/network.

[2020-04-02 13:14] #286 closed

[2020-04-21 07:35] nv4 opened #291 "Playlist search broken/inconsistent"
### Description

Some public playlists never show up in Headset search results when searching by name or ID, even though they show up in Youtube search without logging in or anything.
For example [this one](https://www.youtube.com/playlist?list=PL-qHBeApzdM4rRTVXl65KpQo9KW-Xn2ho) works but not [this one](https://www.youtube.com/playlist?list=PLY2uJAFA5RD-WubQVlxG185x1WwnQl8QT).

### Expected behav

[2020-04-22 15:41] fcastilloec commented on #291
Thanks for the report but after further investigation, this doesn't seem to be an issue with Headset but with Youtube API itself. For some unknown reason (it might be something with the playlist settings, who knows) some results are not returned when searching through the API even though the website does return the correct playlist.
Sorry, but it seems that this is something we can't fix.

[2020-05-07 23:40] fubarhouse opened #292 "Linux window manager integration (command line)"
### Description

More of a question or a feature request - is there any way to grab information about what is playing or to use the controls for stop/pause/start/play/next/previous from a terminal?

### Expected behaviour

Just want to be able to get information via the command line, it's the only thing that would prevent me using this regularly.

### Actual behaviour

Cannot find any information

[2020-05-08 00:00] fcastilloec commented on #292
It was more of a question than a feature because you can already do this. :smile:
Headset has MPRIS integration, which means you can control it and get information from any MPRIS app. This goes for any other app that works with MPRIS.
As mentioned, you can use any MPRIS software/app of your choosing but because you want the info on the command line, I suggest you use [playerctl](https://github.com

[2020-05-08 00:00] #292 closed

[2020-05-08 01:05] fubarhouse commented on #292
Love it, thank you!!

[2020-05-08 23:24] rothgar commented on #274
AppImage may be a better alternative. [electron-builder](https://github.com/electron-userland/electron-builder) supports it as a target and unlike snap (ubuntu) or flatpak (fedora) it seamlessly works on either distro

[2020-05-09 00:37] #291 closed

[2020-05-09 00:41] fcastilloec commented on #274
@rothgar feel free to open a PR to create a working AppImage.
I think that it'll be easier if we just provide a packaged `tar.gz` for Linux. This way you only have to uncompress it and run `headset`. No need for any proprietary/specific distribution system. Thoughts?

[2020-05-09 07:12] rothgar commented on #274
I think you should do whatever is easiest for you to maintain. You lose some benefits with a tar (e.g. desktop launcher) but it's certainly portable and doesn't depend on a package manager.

[2020-05-09 21:48] fcastilloec commented on #274
I think we can bundle a `.desktop` file inside and  `README` or `INSTALL` file with instructions.
Maybe I can create a script that when run, it modifies, copies the `.desktop` file, and update the database. This should only be run once, like an `install.sh`. It could also have an `--uninstall` option to delete that file.
I'll consider doing this for the next release. Right now we're trying to migr

[2020-05-19 19:35] fcastilloec commented on #270
@marcopetreri quick question. If you're still experiencing this issue, is your file system case-sensitive or not?

[2020-07-01 10:11] gbstan opened #293 "Headset 3.2.1 stopped working (main app window is just white with no content)"
### Description

Headset 3.2.1 stopped working (main app window is just white with no content)

### Expected behaviour

Have access to the interface in the main window

### Actual behaviour

Main window is just white with no content whatsoever.

### Your Environment

- MacOS 10.15.5
- Headset version 3.2.1

### Screenshots

[Screenshot 2020-07-01 at 1 Jul 2020 - 11.10.56.pdf](https://github.com/he

[2020-07-01 18:11] fcastilloec commented on #293
I just tried Headset on macOS 10.15.5 and it's working without any problems. The only reason why you might get a white screen is that you're behind a proxy or firewall.
Something you can try is deleting the config files so Headset starts from scratch. You'll have to delete the directory `~/Library/Application Support/Headset`. This won't affect any of your saved playlist/collections or your liked

[2020-07-01 18:38] gbstan commented on #293
I have tried to connect without using my vpn and it then works!

Cheers.

[2020-07-01 18:38] #293 closed

[2020-07-06 22:15] fcastilloec opened #305 "Sign RedHat repository"
Debian repository is signed, the `.deb` itself is not, but the repository files are. We need to do at least the same for RedHat to provide the bare minimum level of security.

[2020-07-20 18:19] jakobkhansen opened #307 "Shuffle button seems to only shuffle the first 40 or so songs in a playlist"
### Description

Pressing the shuffle button to start a playlist seems to only shuffle the first 40 or so songs unless you have scrolled and loaded more of the playlist beforehand.

### Expected behaviour

Pressing the shuffle button should start the playlist with all songs shuffled, not only the first 40.

### Actual behaviour

Only the first 40/already loaded songs are shuffled. Pressing "LOAD M

[2020-07-20 18:53] fcastilloec commented on #307
We'll have to check this. I think what we could do is shuffle the next 40 songs before loading them into the player. So, if you press, "Load more" or you've reached the last song, the next ones will be shuffled.
I don't think loading all songs and then shuffling them is a good idea. There are youtube channels and playlist with thousands of videos, you'll quickly run out of API calls.

[2020-07-20 19:17] jakobkhansen commented on #307
The problem then is that whenever you press shuffle you will always hear the same 40 songs first. Would be nice if those 40 songs were randomized from the entire playlist and not only the first 40. Is that possible or would you have to load the entire playlist for that as well?

[2020-07-20 19:51] fcastilloec commented on #307
We'll have to take a look and see if that's possible with Youtube API, because I don't think loading the entire playlist is an option.

[2020-07-20 20:38] danielravina commented on #307
Unfortunately,  we can't fetch a pre-shuffle playlist and we can't load the entire playlist. Youtube API is limited to max of 50 videos. https://developers.google.com/youtube/v3/docs/playlistItems/list. The reason I picked 40 initially was to save on API quota (which is not a problem so much now when users own their API key).

The best workaround is to load as much as you can first and then shuffl

[2020-07-20 20:59] jakobkhansen commented on #307
Alright, seems like this is a no go then. Thanks for the replies.

[2020-07-20 20:59] #307 closed

[2020-07-20 21:25] #232 closed

[2020-07-20 22:07] fcastilloec commented on #247
Sorry for not replying earlier. I haven't been able to duplicate it on my side. Do you still experience this? If so, can you provide a playlist where this is happening?

[2020-07-20 22:17] fcastilloec commented on #232
It's been a while but discord support has been added. The next release will have it. If you want to try it before the release, check the README to see how.
I would really appreciate any feedback and if there are any problems/bugs, feel free to create a new issue here.

[2020-07-21 00:55] fcastilloec commented on #274
@rothgar @Split7fire there's currently a PR introducing flatpak support. Could you guys test it and see if there's any bugs, if so, please let me know.
Here's a [link to the artifacts](https://github.com/headsetapp/headset-electron/suites/942597122/artifacts/11674530), it will contain all of the Linux installers, including the `.flatpak`.
I'm still not familiar enough with flatpak to be able to su

[2020-07-21 20:36] rothgar commented on #274
The .flatpak app worked for me. I had to still install flathub as a remote repo for the dependencies but otherwise it worked fine.

To submit it to flathub they have docs here https://github.com/flathub/flathub/wiki/App-Submission#how-to-submit-an-app

[2020-07-21 20:55] fcastilloec commented on #274
@rothgar Thanks for testing!
I have seen those docs, the problem I have is with the manifest file. The official flatpack documentation regarding electron apps compiles the app from scratch, I want to be able to use the already compile app produce by `electron-packager`. Otherwise, the whole manifest is going to be a mess, and I can't guarantee that the compiled code will be the same as the `.deb`

[2020-07-24 12:32] pizzadude commented on #274
It's live!

https://flathub.org/apps/details/co.headsetapp.headset

Confirmed working in Fedora 32

[2020-07-25 00:12] fcastilloec commented on #274
@pizzadude Thanks for testing. I've been working for the past days on trying to get it official on Flathub. @rothgar pointed out the details and the people from flatpak on their IRC channel were very helpful. I was about to post here the news, so more people can test it.
So, test it, and if there are any problems/bugs, just open a new issue here.

[2020-07-25 00:12] #274 closed

[2020-07-25 03:21] pizzadude commented on #274
@fcastilloec BTW, if it weren't for the flatpak, I wouldn't of known this app existed. It helps with discovery.

[2020-08-03 09:54] probonopd opened #310 "Please provide an AppImage for Linux"
Providing an [AppImage](http://appimage.org/) would have, among others, these advantages:
- Applications packaged as an AppImage can run on many distributions (including Ubuntu, Fedora, openSUSE, CentOS, elementaryOS, Linux Mint, and others)
- One app = one file = super simple for users: just download one AppImage file, [make it executable](http://discourse.appimage.org/t/how-to-make-an-appimage-e

[2020-08-03 18:10] fcastilloec commented on #310
So far, we have already publish to Flathub, and we're waiting for a review to publish a snap. From what I've seen, AppImages are not as popular as flatpak or snap. I don't think I'll be implementing this but feel free to provide a PR for AppImage.
If things change in the future, we'll reevaluate and see if it's worth spending the time on this.

[2020-08-13 15:20] skewty commented on #260
#### Why not auto-switch between modes:

1. Mini player (with just buttons)
2. Current view
3. Large View

#### Large View

| Auto Width | Fixed Width |
| :--- | :---: |
| Song list item A | Cover Art |
| Song list item B | Cover Art |
| Song list item C | Cover Art |
| Song list item Z | Controls  |

Personally, I don't feel a mini-player mode has much value when keyboards have Play/Pause, Prev/N

[2020-09-09 00:00] greeneryAO opened #317 "Media keys not available for MacOS?"
The faq says there are, maybe it's just my system but I don't think so because youtube and youtube music media control work for me as expected.

All I can do in headset is inch forward or back by about 3 seconds at a time using my arrow keys left or right.

If they don't exist, I would really appreciate keyboard shortcuts for next, prev, copy link to clipboard, like song, and 15 sec skips so I can

[2020-09-09 00:06] fcastilloec commented on #317
There is media key support but only for `play/pause`. `previous` and `next`. When Headset starts it should ask you for permission to enable media-keys support, see https://github.com/headsetapp/headset-electron/issues/206#issuecomment-435954900
If you're encountering any issues, please let me know.

[2020-09-09 00:12] greeneryAO commented on #317
I think it might be my system specific unfortunately, my media keys F7, F8, F9, might be dead or they might be getting overridden by something, I have to play around in other programs and see if they work, even play, next and prev would be good enough. I'll try re-granting permission.

[2020-09-09 00:16] fcastilloec commented on #317
Let me know how it goes. I'd also be interested to see if your system is case sensitive or not. There might be a bigger bug with electron itself.

[2020-09-09 01:28] greeneryAO commented on #317
jumped the gun on that, it was my system, something was causing those keys to not work but i booted into safe mode, then it worked (slowly), then let it do its work and now it works in main account so all good.

[2020-09-09 01:29] #317 closed

[2020-09-13 16:48] mredigonda commented on #310
In my opinion publishing in [Flathub](https://flathub.org/apps/details/co.headsetapp.headset) is enough, but in the README of this project it's not evident that Flathub is a possible way to install on Linux.

[2020-09-14 01:31] fcastilloec commented on #310
@mredigonda Thanks for the reminder. We're working on updating the README and the official Headset website to point the new installers. Also, Headset has been accepted as a snap package. So that's an additional way to install it, it can easily be found on the Ubuntu Software Center (besides using `snap` command line)

[2020-11-02 14:42] 3Nex opened #325 "Mouse back button makes player controls disappear"
### Description

Clicking the back button on the mouse (one of the extra buttons on the side of the mouse).

### Expected behaviour

Either nothing, or maybe going back in the in-app navigation.

### Actual behaviour

The app looks like it's initializing from scratch again, but without the song stopping.

The splash screen with the loading animation appears for a second, then the app loads in agai

[2020-11-02 19:18] fcastilloec commented on #325
Thanks, I can reproduce this on my Ubuntu machine. When pressing the button, you go back to the previous view. So if you were in Search and then go to Account, press the button and you'll be back at Search. If you haven't switch views then pressing the button will do nothing.

I'll take a look if disabling those keys might be a good idea and feasible. It's usually not a good idea to disable those

[2020-11-02 20:14] 3Nex commented on #325
No, sorry, i have no other OS..

[2020-11-15 01:12] fcastilloec commented on #325
It seems this won't be able to be fixed. I haven't found any way to disable mouse buttons. A newer version of electron has fixed the disappearing player and be available once we release the new version.
I don't know how long it'll take to release the new version, we're waiting on getting our signing certificate renewed but it's taking a lot longer than expected.

[2020-11-26 00:47] 3Nex commented on #193
I wanted to suggest the same.

In addition to the shortcuts proposed here, what would be great is being able to effectively play a song with keyboard only. So first getting the focus onto the search bar (with the `/` key), and then having it immediately play the first result of the search (by using the [DuckDuckGo's bang](https://duckduckgo.com/bang) method).

So with that, pressing `/`, then typi

[2021-01-09 01:11] kawarimidoll opened #327 "Installation is failed using latest Homebrew"
### Description

The command `brew cask install` in `README.md` doesn't work now because of update of Homebrew.
This is not a bug of this app, but the document needs to be fixed.

[Error: Calling brew cask install is disabled! · Discussion #340 · Homebrew/discussions](https://github.com/Homebrew/discussions/discussions/340#discussioncomment-232364)

### Screenshots

![Calling brew cask install is

[2021-01-09 02:05] #327 closed

[2021-01-11 07:39] saieeshb opened #330 "Can't see Discord Rich Presence even when option is enabled."
### Description

I'm unable to see the discord rich presence even though I have the option turned on in the app itself.

### Expected behaviour

Discord should show the Rich Presenc from Headset

### Actual behaviour

Nothing shows up instead.

### Your Environment

- What OS are you using?
  Ubuntu 18.04
- What version of Headset? (copy and paste from the user profile page if possible)
  Core: v2

[2021-01-11 17:57] fcastilloec commented on #330
Hi @FlaminGummy
Discord is not currently working because we released a new `core` version and we haven't been able to release a new `wrapper` version due to some delays in getting the signing certificate for Windows.
We actually just received the new certificate and in the next few days, we'll be releasing a new version that will have Discord support.

In the meantime, it would be greatly apprecia

[2021-01-14 16:04] FlaminGummy commented on #330
Hello! Thank you for the response! I did as you said and it works now! Thanks! I'll be looking forward to the release! :D

[2021-01-14 18:44] fcastilloec commented on #330
We just released a new version yesterday, so you can switch back to installing Headset however you prefer.

[2021-01-15 08:03] FlaminGummy commented on #330
I see! Thank you for the info!

[2021-01-16 06:07] FlaminGummy commented on #330
Hey! It looks like it shows the first song played and then gets stuck on 00:00 on that song but doesn't show when i move to different song.

[2021-01-16 06:18] fcastilloec commented on #330
@FlaminGummy I just tested it on Ubuntu 20.04 and everything is working as expected. I'll test it on my virtual machine for 18.04.
BTW, How did you install the app?

[2021-01-16 06:20] FlaminGummy commented on #330
I used the .deb file

[2021-01-29 04:13] fcastilloec commented on #330
@FlaminGummy sorry for the late response, I've been busy.
I tried with Ubuntu 18.04 and other distros based on this version: Mint, Elementary, and Pop! OS. Everything is working as expected.
The only thing I can think of is if you updated your Headset (using the .deb file), that updates the wrapper, the core is loaded directly from the internet and you might have some files cached showing an older

[2021-02-02 19:18] kaimast opened #344 "Wayland Support"
Hi,

It would be great if this app had Wayland support. Right now the application looks blurry on HighDPI screens on Wayland.

I think Electron 12 does support this feature.

-Kai

[2021-02-02 19:28] fcastilloec commented on #344
Wayland is definitely on the roadmap. Right now, electron 12 is just in beta, and it seems that CSD decorations are having some problems. Gnome requires CSD when using Wayland which is the main GUI we support.
It probably will take until electron 13 (or even 14) to iron out all the bugs before we can actually ship a version with proper Wayland support, otherwise, we might get flooded with issues a

[2021-02-02 19:32] fcastilloec commented on #325
With the release of the new version, the mouse back button is working as expected and the player no longer disappears.

[2021-02-02 19:32] #325 closed

[2021-02-02 19:34] fcastilloec commented on #270
Haven't heard back with any details about this bug. I'm closing it but if you are still experiencing this with the new version, feel free to re-open it.

[2021-02-02 19:34] #270 closed

[2021-02-02 19:36] fcastilloec commented on #247
Haven't heard back about this issue and hopefully the new release fixes it. If you're still experiencing this problem, feel free to re-open the issue.

[2021-02-02 19:36] #247 closed

[2021-02-02 20:26] kaimast commented on #344
Good to know!

Chrome works very well on Wayland even with CSD FWIW. Not sure how much different it is for electron apps.

[2021-02-12 19:54] kelmouloudi opened #345 "App gives "Error: Invalid key" for any API key"
Hi,

The 1st time I set up the app it worked as intended, I listened to and liked like 30 songs. But after I closed the app and opened it again, it asked for the API a second time. I pasted the same API key as the 1st time but it gave me the error "**Error: Invalid key**". The detail says **error 403: The request cannot be completed because you have exceeded your quota** :

![error](https://i.imgu

[2021-02-12 19:57] danielravina commented on #345
Hi there,

It looks like the issue is with the key. Did you configure it to access the
YouTube API after creating the second one?

On Fri, Feb 12, 2021 at 11:54 AM Khalid EL MOULOUDI <
notifications@github.com> wrote:

[2021-02-12 20:10] kelmouloudi commented on #345
When I go to "YouTube Analytics API" under my project, it says "API enabled" with a "Manage" button. When I click it and go to Credentials, I see my 2 keys. But from here I can only rename them. Here are the options for each key:

Application restrictions: None
API restrictions: Don't restrict key

[2021-02-12 20:30] fcastilloec commented on #345
The problem is probably not with the YouTube access but rather that you've exceeded the limits. This has happened to me a couple of times while debugging errors, but having a second key (associated with a different email) solves it for me.
I believe the quota is per user account, not per key, so creating a second one will not solve the issue, unless it's from a different Gmail address.

You can ch

[2021-02-12 20:33] kelmouloudi commented on #345
I created a new project and generated a new key for it, and this time it worked. However, I feel like I didn't really use the app long enough to exceed the quota, I only liked around 30 songs without listening to them fully and that's it.

[2021-02-12 20:37] fcastilloec commented on #345
Google made some changes a while ago regarding their quota. It used to be a lot less, and that's why we were able to use a single key for all Headset users (we did have to ask Google to increase our limit significantly). With the changes, and Google not increasing our limits, we had to make the change to a per-user key.
You can probably ask for a quota increase, but there's no guarantee that they'

[2021-02-12 20:37] #345 closed

[2021-02-12 20:39] kelmouloudi commented on #345
Thank you guys, the app is wonderful by the way.

[2021-02-14 07:21] #305 closed

[2021-02-26 20:22] lfom opened #356 "Debian package error"
### Description

Current .deb package (v3.3.2) as well as instructions about how to add the repo and install in README are broken.

### Expected behavior

Install Headset without errors, as well as properly add the repo for future updates as instructed in README.

### Actual behavior

The available -deb file in Releases can be used to install Headset, but the installation results in an error, that